{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "This template creates Route53 recordsets for CloudFront and Application Load Balancer. It takes an existing Hosted Zone Name as input. It creates A records for both CloudFront and Application Load Balancer. The A record for ALB uses the part of the ALB DNS Name before the first dot and suffixes it with the hosted zone. In case of CloudFront, it uses the stack name as the prefix followed by hosted zone. **WARNING** This template creates AWS resources. You will be billed for the AWS resources used if you create a stack from this template.",
    "Metadata": {
        "AWS::CloudFormation::Interface": {
            "ParameterGroups": [
                {
                    "Label": {
                        "default": "CloudFront"
                    },
                    "Parameters": [
                        "UseACMCertificate",
                        "LibertyCloudFrontDistribution",
                        "HostedZoneName"
                    ]
                },
                {
                    "Label": {
                        "default": "Application Load Balancer DNS"
                    },
                    "Parameters": [
                        "ALBDNSName",
                        "CanonicalHostedZoneID"
                    ]
                }
            ],
            "ParameterLabels": {
                "ALBDNSName": {
                    "default": "DNS Name of Application Load Balancer"
                },
                "CanonicalHostedZoneID": {
                    "default": "Canonical HostZoneId of Application Load Balancer"
                },
                "HostedZoneName": {
                    "default": "Hosted Zone Name in Route53"
                },
                "LibertyCloudFrontDistribution": {
                    "default": "Domain Name of CloudFront "
                },
                "UseACMCertificate": {
                    "default": "CloudFront ACM Certificate Used?"
                }
            }
        }
    },
    "Parameters": {
        "ALBDNSName": {
            "Description": "The DNS of the Application Load Balancer.",
            "Type": "String"
        },
        "CanonicalHostedZoneID": {
            "Description": "CanonicalHostedZoneID of the Application Load Balancer.",
            "Type": "String"
        },
        "HostedZoneName": {
            "AllowedPattern": "^$|(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\\-]*[A-Za-z0-9])$",
            "Default": "",
            "Description": "[ Optional ] The domain name (e.g. example.com) of a valid Hosted Zone on AWS. Leave empty if SSL is not required.",
            "Type": "String"
        },
        "LibertyCloudFrontDistribution": {
            "AllowedPattern": "^$|(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\\-]*[A-Za-z0-9])$",
            "Default": "",
            "Description": "The domain name of a CloudFront Distribution.",
            "Type": "String"
        },
        "CloudFrontCNAMEAlias": {
            "Default": "",
            "Description": "CloudFront CNAME alias for the record set e.g. my-cf.xyz.example.com",
            "Type": "String"
        },
        "UseACMCertificate": {
            "Default": "No",
            "Description": "[Optional] If ACM Certificate is used for CloudFront? [Yes or No]",
            "Type": "String"
        }
    },
    "Conditions": {
        "UseCloudFrontCustomSSL": {
            "Fn::Equals": [
                {
                    "Ref": "UseACMCertificate"
                },
                "Yes"
            ]
        }
    },
    "Resources": {
        "RecordSet": {
            "Type": "AWS::Route53::RecordSetGroup",
            "Properties": {
                "HostedZoneName": {
                    "Fn::Join": [
                        "",
                        [
                            {
                                "Ref": "HostedZoneName"
                            },
                            "."
                        ]
                    ]
                },
                "RecordSets": [
                    {
                        "Name": {
                            "Fn::Join": [
                                "",
                                [
                                    {
                                        "Fn::Select": [
                                            "0",
                                            {
                                                "Fn::Split": [
                                                    ".",
                                                    {
                                                        "Ref": "ALBDNSName"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    ".",
                                    {
                                        "Ref": "HostedZoneName"
                                    },
                                    "."
                                ]
                            ]
                        },
                        "Type": "A",
                        "AliasTarget": {
                            "DNSName": {
                                "Ref": "ALBDNSName"
                            },
                            "EvaluateTargetHealth": true,
                            "HostedZoneId": {
                                "Ref": "CanonicalHostedZoneID"
                            }
                        }
                    },
                    {
                        "Fn::If": [
                            "UseCloudFrontCustomSSL",
                            {
                                "Name": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            {
                                                "Ref": "CloudFrontCNAMEAlias"
                                            },
                                            "."
                                        ]
                                    ]
                                },
                                "Type": "A",
                                "AliasTarget": {
                                    "HostedZoneId": "Z2FDTNDATAQYW2",
                                    "DNSName": {
                                        "Ref": "LibertyCloudFrontDistribution"
                                    }
                                }
                            },
                            {
                                "Ref": "AWS::NoValue"
                            }
                        ]
                    }
                ]
            }
        }
    }
}
