{
   "AWSTemplateFormatVersion":"2010-09-09",
   "Description":"Creates Route53 records to ease access to resources in the Tableau AWS Data Quick Start. (qs-1ndudd5bg)",
   "Parameters":{
      "HostedZoneName":{
         "Description":"Hosted Zone Name",
         "Type":"String"
      },
      "RootStackName":{
         "Description":"Root Stack Name",
         "Type":"String"
      },
      "TableauServerPublicDnsName":{
         "Description":"Tableau Server Public DNS Name",
         "Type":"String"
      },
      "TableauServerPrivateDnsName":{
         "Description":"Tableau Server Private DNS Name",
         "Type":"String"
      },
      "RedshiftPrivateDnsName":{
         "Description":"Redshift Endpoint DNS Name",
         "Type":"String"
      },
      "RDSPrivateDnsName":{
         "Description":"RDS Endpoint DNS Name",
         "Type":"String"
      },
      "InformaticaHadoopPublicDnsName":{
         "Description":"Informatica Public DNS Name",
         "Type":"String"
      },
      "InformaticaDomainPublicDnsName":{
         "Description":"Informatica Domain Public  DNS Name",
         "Type":"String"
      },
      "InformaticaHadoopPrivateDnsName":{
         "Description":"Informatica Public DNS Name",
         "Type":"String"
      },
      "InformaticaDomainPrivateDnsName":{
         "Description":"Informatica Domain Public  DNS Name",
         "Type":"String"
      }
   },
   "Resources":{
      "IHSPublicRecordSet":{
         "Type":"AWS::Route53::RecordSet",
         "Properties":{
            "Comment":"Convenience DNS Entry for Informatica Hadoop Server",
            "HostedZoneName":{
               "Ref":"HostedZoneName"
            },
            "Name":{
               "Fn::Join":[
                  ".",
                  [
                     "ihs-server",
                     {
                        "Ref":"RootStackName"
                     },
                     {
                        "Ref":"HostedZoneName"
                     }
                  ]
               ]
            },
            "ResourceRecords":[
               {
                  "Ref":"InformaticaHadoopPublicDnsName"
               }
            ],
            "TTL":"300",
            "Type":"CNAME"
         }
      },
      "IHSPrivateRecordSet":{
         "Type":"AWS::Route53::RecordSet",
         "Properties":{
            "Comment":"Convenience DNS Entry for Informatica Hadoop Server Private",
            "HostedZoneName":{
               "Ref":"HostedZoneName"
            },
            "Name":{
               "Fn::Join":[
                  ".",
                  [
                     "ihs-server-private",
                     {
                        "Ref":"RootStackName"
                     },
                     {
                        "Ref":"HostedZoneName"
                     }
                  ]
               ]
            },
            "ResourceRecords":[
               {
                  "Ref":"InformaticaHadoopPrivateDnsName"
               }
            ],
            "TTL":"300",
            "Type":"CNAME"
         }
      },
      "InformaticaDomainPublicRecordSet":{
         "Type":"AWS::Route53::RecordSet",
         "Properties":{
            "Comment":"Convenience DNS Entry for Informatica Domain Server",
            "HostedZoneName":{
               "Ref":"HostedZoneName"
            },
            "Name":{
               "Fn::Join":[
                  ".",
                  [
                     "informaticadomain-server",
                     {
                        "Ref":"RootStackName"
                     },
                     {
                        "Ref":"HostedZoneName"
                     }
                  ]
               ]
            },
            "ResourceRecords":[
               {
                  "Ref":"InformaticaDomainPublicDnsName"
               }
            ],
            "TTL":"300",
            "Type":"CNAME"
         }
      },
      "InformaticaDomainPrivateRecordSet":{
         "Type":"AWS::Route53::RecordSet",
         "Properties":{
            "Comment":"Convenience DNS Entry for Informatica Domain Server Private",
            "HostedZoneName":{
               "Ref":"HostedZoneName"
            },
            "Name":{
               "Fn::Join":[
                  ".",
                  [
                     "informaticadomain-server-private",
                     {
                        "Ref":"RootStackName"
                     },
                     {
                        "Ref":"HostedZoneName"
                     }
                  ]
               ]
            },
            "ResourceRecords":[
               {
                  "Ref":"InformaticaDomainPrivateDnsName"
               }
            ],
            "TTL":"300",
            "Type":"CNAME"
         }
      },
      "TableauServerPublicRecordSet":{
         "Type":"AWS::Route53::RecordSet",
         "Properties":{
            "Comment":"Convenience DNS Entry for TableauServer",
            "HostedZoneName":{
               "Ref":"HostedZoneName"
            },
            "Name":{
               "Fn::Join":[
                  ".",
                  [
                     "tableau-server",
                     {
                        "Ref":"RootStackName"
                     },
                     {
                        "Ref":"HostedZoneName"
                     }
                  ]
               ]
            },
            "ResourceRecords":[
               {
                  "Ref":"TableauServerPublicDnsName"
               }
            ],
            "TTL":"300",
            "Type":"CNAME"
         }
      },
      "TableauServerPrivateRecordSet":{
         "Type":"AWS::Route53::RecordSet",
         "Properties":{
            "Comment":"Convenience DNS Entry for TableauServer Private",
            "HostedZoneName":{
               "Ref":"HostedZoneName"
            },
            "Name":{
               "Fn::Join":[
                  ".",
                  [
                     "tableau-server-private",
                     {
                        "Ref":"RootStackName"
                     },
                     {
                        "Ref":"HostedZoneName"
                     }
                  ]
               ]
            },
            "ResourceRecords":[
               {
                  "Ref":"TableauServerPrivateDnsName"
               }
            ],
            "TTL":"300",
            "Type":"CNAME"
         }
      },
      "RedshiftPrivateRecordSet":{
         "Type":"AWS::Route53::RecordSet",
         "Properties":{
            "Comment":"Convenience DNS Entry for Redshift Endpoint",
            "HostedZoneName":{
               "Ref":"HostedZoneName"
            },
            "Name":{
               "Fn::Join":[
                  ".",
                  [
                     "redshift",
                     {
                        "Ref":"RootStackName"
                     },
                     {
                        "Ref":"HostedZoneName"
                     }
                  ]
               ]
            },
            "ResourceRecords":[
               {
                  "Ref":"RedshiftPrivateDnsName"
               }
            ],
            "TTL":"300",
            "Type":"CNAME"
         }
      },
      "RDSPrivateRecordSet":{
         "Type":"AWS::Route53::RecordSet",
         "Properties":{
            "Comment":"Convenience DNS Entry for Oracle RDS Endpoint",
            "HostedZoneName":{
               "Ref":"HostedZoneName"
            },
            "Name":{
               "Fn::Join":[
                  ".",
                  [
                     "oracle",
                     {
                        "Ref":"RootStackName"
                     },
                     {
                        "Ref":"HostedZoneName"
                     }
                  ]
               ]
            },
            "ResourceRecords":[
               {
                  "Ref":"RDSPrivateDnsName"
               }
            ],
            "TTL":"300",
            "Type":"CNAME"
         }
      }
   },
   "Outputs":{
      "TableauServerPublicName":{
         "Description":"Convenient Name for Tableau Server Public Access",
         "Value":{
            "Ref":"TableauServerPublicRecordSet"
         }
      },
      "TableauServerPrivateName":{
         "Description":"Convenient Name for Tableau Server Private Access",
         "Value":{
            "Ref":"TableauServerPrivateRecordSet"
         }
      },
      "IHSPublicName":{
         "Description":"Convenient Name for Informatica Hadoop Public Access",
         "Value":{
            "Ref":"IHSPublicRecordSet"
         }
      },
      "IHSPrivateName":{
         "Description":"Convenient Name for Informatica Hadoop Private Access",
         "Value":{
            "Ref":"IHSPrivateRecordSet"
         }
      },
      "InformaticaDomainPublicName":{
         "Description":"Convenient Name for Tableau Server Public Access",
         "Value":{
            "Ref":"InformaticaDomainPublicRecordSet"
         }
      },
      "InformaticaDomainPrivateName":{
         "Description":"Convenient Name for Tableau Server Private Access",
         "Value":{
            "Ref":"InformaticaDomainPrivateRecordSet"
         }
      },
      "RedshiftPrivateName":{
         "Description":"Convenient Name for Redshift Private Access",
         "Value":{
            "Ref":"RedshiftPrivateRecordSet"
         }
      },
      "RDSPrivateName":{
         "Description":"Convenient Name for Postgres RDS Private Access",
         "Value":{
            "Ref":"RDSPrivateRecordSet"
         }
      }
   }
}
