{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "CloudFormation Template for TSM-based Tableau Server on Windows",
    "Parameters": {
        "InstanceType": {
            "Description": "Amazon EC2 instance type",
            "Type": "String",
            "Default": "m5.4xlarge"
        },
        "Turnfirewalloff": {
            "Type": "String",
            "Default": "Yes"
        },
        "KeyPairName": {
            "ConstraintDescription": "The name of an existing EC2 KeyPair.",
            "Description": "Public/private key pairs allow you to securely connect to your instance after it launches",
            "Type": "AWS::EC2::KeyPair::KeyName"
        },
        "Username": {
            "Description": "Tableau Services Manager (TSM) administrator username (cannot be Administrator)",
            "Type": "String"
        },
        "Password": {
            "Description": "Tableau Services Manager (TSM) administrator password",
            "Type": "String",
            "NoEcho": "true"
        },
        "TableauServerAdminUser": {
            "Description": "The name of the initial administrator for Tableau Server",
            "Type": "String"
        },
        "TableauServerAdminPassword": {
            "Description": "The password of the initial administrator for Tableau Server",
            "Type": "String",
            "NoEcho": "true"
        },
        "TableauServerLicenseKey": {
            "Description": "License Key (leave blank for trial)",
            "Type": "String"
        },
        "AcceptEULA": {
            "AllowedPattern": "Yes",
            "Default": "Yes",
            "Description": "View the EULA at the Link: https://www.tableau.com/eula",
            "Type": "String"
        },
        "RegFirstName": {
            "Description": "First Name",
            "Type": "String",
            "Default": "Informatica"
        },
        "RegLastName": {
            "Description": "Last Name",
            "Type": "String",
            "Default": "TableauSolutions"
        },
        "RegEmail": {
            "Description": "Email",
            "Type": "String"
        },
        "RegCompany": {
            "Description": "Company",
            "Type": "String",
            "Default": "QuickStart"
        },
        "RegTitle": {
            "Description": "Title",
            "Type": "String",
            "Default": "IT"
        },
        "RegDepartment": {
            "Description": "Department",
            "Type": "String",
            "Default": "IT"
        },
        "RegIndustry": {
            "Description": "Industry",
            "Type": "String",
            "Default": "Software"
        },
        "RegPhone": {
            "Description": "Phone",
            "Type": "String",
            "Default": "99999999999"
        },
        "RegCity": {
            "Description": "City",
            "Type": "String",
            "Default": "KN"
        },
        "RegState": {
            "Description": "State",
            "Type": "String",
            "Default": "BLR"
        },
        "RegZip": {
            "Description": "ZIP/Postal Code",
            "Type": "String",
            "Default": "1234567"
        },
        "RegCountry": {
            "Description": "Country",
            "Type": "String",
            "Default": "IND"
        },
        "TableauServerNetInterface": {
            "Description": "Network Interface for Tableau",
            "Type": "String"
        },
        "RDSDatabaseName": {
            "Description": "RDS Database Name",
            "Type": "String",
            "Default": "awsquickstart"
        },
        "RDSDatabasePort": {
            "Description": "RDS Database Port",
            "Type": "String"
        },
        "RDSHost": {
            "Description": "RDS Host CNAME",
            "Type": "String"
        },
        "RDSPassword": {
            "Description": "RDS Password",
            "NoEcho": "true",
            "Type": "String"
        },
        "RDSUsername": {
            "Description": "RDS Username",
            "Type": "String",
            "Default": "awsquickstart"
        },
        "RedshiftDatabaseName": {
            "Description": "Redshift Database Name",
            "Type": "String"
        },
        "RedshiftDatabasePort": {
            "Description": "Redshift Database Port",
            "Type": "String"
        },
        "RedshiftHost": {
            "Description": "Redshift Host CNAME",
            "Type": "String"
        },
        "RedshiftPassword": {
            "Description": "Redshift Password",
            "NoEcho": "true",
            "Type": "String"
        },
        "RedshiftUsername": {
            "Description": "Redshift Username",
            "Type": "String"
        },
        "DemoDataBucket": {
            "Description": "Bucket containing tableau datasource and workbook files",
            "Type": "String"
        },
        "DemoDataBucketFolder": {
            "Description": "Bucket folder containing tableau datasource and workbook files",
            "Type": "String"
        }
    },
    "Mappings": {
        "AWSAMIRegionMap": {
            "AMI": {
                "WS2012R2": "Windows_Server-2012-R2_RTM-English-64Bit-Base-2019.04.26"
            },
            "ap-northeast-1": {
                "WS2012R2": "ami-046ee6b9fdfea3161"
            },
            "ap-northeast-2": {
                "WS2012R2": "ami-0025e3f1eacf7d130"
            },
            "ap-south-1": {
                "WS2012R2": "ami-02f0a763aeda0077b"
            },
            "ap-southeast-1": {
                "WS2012R2": "ami-0a0a6f3903d43aedb"
            },
            "ap-southeast-2": {
                "WS2012R2": "ami-011faffd94de75db6"
            },
            "ca-central-1": {
                "WS2012R2": "ami-077d8740d7c88a083"
            },
            "eu-central-1": {
                "WS2012R2": "ami-02e33b7f1cfec85c3"
            },
            "eu-north-1": {
                "WS2012R2": "ami-0568f6fec2ee2b41c"
            },
            "eu-west-1": {
                "WS2012R2": "ami-03cc072e1eb1504ad"
            },
            "eu-west-2": {
                "WS2012R2": "ami-0ddbb61e1ac0b740c"
            },
            "eu-west-3": {
                "WS2012R2": "ami-07c11c4d4df6d5a81"
            },
            "sa-east-1": {
                "WS2012R2": "ami-06e9846cb29996e35"
            },
            "us-east-1": {
                "WS2012R2": "ami-0b6158cfa2ae7b493"
            },
            "us-east-2": {
                "WS2012R2": "ami-0f33ca435060daee9"
            },
            "us-west-1": {
                "WS2012R2": "ami-0d4f8a9abc53cca9c"
            },
            "us-west-2": {
                "WS2012R2": "ami-00ddbceb28e44364c"
            }
        },
        "DefaultConfiguration": {
            "InstallationConfig": {
                "InstallationBucket": "tableau-quickstart",
                "InstallationExecutable": "TableauServer-64bit.exe"
            },
            "MachineConfiguration": {
                "SystemVolumeSize": 50,
                "DataVolumeSize": 100,
                "WindowsVersion": "WS2012R2"
            }
        }
    },
    "Conditions": {
        "IsTrial": {
            "Fn::Equals": [
                "",
                {
                    "Ref": "TableauServerLicenseKey"
                }
            ]
        },
        "DisableFirewall_Yes": {
            "Fn::Equals": [
                {
                    "Ref": "Turnfirewalloff"
                },
                "Yes"
            ]
        },
        "DisableFirewall_No": {
            "Fn::Equals": [
                {
                    "Ref": "Turnfirewalloff"
                },
                "No"
            ]
        }
    },
    "Resources": {
        "TableauServerRecoveryTestAlarm": {
            "Type": "AWS::CloudWatch::Alarm",
            "Properties": {
                "AlarmDescription": "Trigger a recovery when Tableau Server status check fails for 5 consecutive minutes.",
                "Namespace": "AWS/EC2",
                "MetricName": "StatusCheckFailed_System",
                "Statistic": "Minimum",
                "Period": "60",
                "EvaluationPeriods": "5",
                "ComparisonOperator": "GreaterThanThreshold",
                "Threshold": "0",
                "AlarmActions": [
                    {
                        "Fn::Join": [
                            "",
                            [
                                "arn:aws:automate:",
                                {
                                    "Ref": "AWS::Region"
                                },
                                ":ec2:recover"
                            ]
                        ]
                    }
                ],
                "Dimensions": [
                    {
                        "Name": "InstanceId",
                        "Value": {
                            "Ref": "TableauWindowsServer"
                        }
                    }
                ]
            }
        },
        "TableauWindowsServer": {
            "Type": "AWS::EC2::Instance",
            "Metadata": {
                "AWS::CloudFormation::Init": {
                    "config": {
                        "files": {
                            "c:\\tabsetup\\secrets.json": {
                                "content": {
                                    "local_admin_user": {
                                        "Ref": "Username"
                                    },
                                    "local_admin_pass": {
                                        "Ref": "Password"
                                    },
                                    "content_admin_user": {
                                        "Ref": "TableauServerAdminUser"
                                    },
                                    "content_admin_pass": {
                                        "Ref": "TableauServerAdminPassword"
                                    },
                                    "product_keys": [
                                        {
                                            "Fn::If": [
                                                "IsTrial",
                                                "trial",
                                                {
                                                    "Fn::Sub": "${TableauServerLicenseKey}"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            },
                            "c:\\tabsetup\\registration.json": {
                                "content": {
                                    "first_name": {
                                        "Ref": "RegFirstName"
                                    },
                                    "last_name": {
                                        "Ref": "RegLastName"
                                    },
                                    "email": {
                                        "Ref": "RegEmail"
                                    },
                                    "company": {
                                        "Fn::Join": [
                                            ";",
                                            [
                                                {
                                                    "Ref": "RegCompany"
                                                },
                                                "AWSQuickStart-WinBeta"
                                            ]
                                        ]
                                    },
                                    "title": {
                                        "Ref": "RegTitle"
                                    },
                                    "department": {
                                        "Ref": "RegDepartment"
                                    },
                                    "industry": {
                                        "Ref": "RegIndustry"
                                    },
                                    "phone": {
                                        "Ref": "RegPhone"
                                    },
                                    "city": {
                                        "Ref": "RegCity"
                                    },
                                    "state": {
                                        "Ref": "RegState"
                                    },
                                    "zip": {
                                        "Ref": "RegZip"
                                    },
                                    "country": {
                                        "Ref": "RegCountry"
                                    }
                                }
                            },
                            "c:\\tabsetup\\update-datasource.py": {
                                "source": {
                                    "Fn::Sub": "https://${DemoDataBucket}.s3.amazonaws.com/${DemoDataBucketFolder}update-datasource.py"
                                }
                            },
                            "c:\\tabsetup\\redshift.tds": {
                                "source": {
                                    "Fn::Sub": "https://${DemoDataBucket}.s3.amazonaws.com/${DemoDataBucketFolder}redshift.tds"
                                }
                            },
                            "c:\\tabsetup\\informatica.twb": {
                                "source": {
                                    "Fn::Sub": "https://${DemoDataBucket}.s3.amazonaws.com/${DemoDataBucketFolder}informatica.twb"
                                }
                            },
                            "c:\\tabsetup\\oracle.tds": {
                                "source": {
                                    "Fn::Sub": "https://${DemoDataBucket}.s3.amazonaws.com/${DemoDataBucketFolder}oracle.tds"
                                }
                            },
                            "c:\\tabsetup\\SilentInstaller.py": {
                                "source": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "https://",
                                            {
                                                "Fn::FindInMap": [
                                                    "DefaultConfiguration",
                                                    "InstallationConfig",
                                                    "InstallationBucket"
                                                ]
                                            },
                                            ".s3-us-west-2.amazonaws.com/SilentInstaller.py"
                                        ]
                                    ]
                                }
                            },
                            "c:\\tabsetup\\manageFirewallPorts.py": {
                                "source": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "https://",
                                            {
                                                "Fn::FindInMap": [
                                                    "DefaultConfiguration",
                                                    "InstallationConfig",
                                                    "InstallationBucket"
                                                ]
                                            },
                                            ".s3-us-west-2.amazonaws.com/manageFirewallPorts.py"
                                        ]
                                    ]
                                }
                            },
                            "c:\\tabsetup\\config.json": {
                                "content": {
                                    "configEntities": {
                                        "identityStore": {
                                            "_type": "identityStoreType",
                                            "type": "local"
                                        }
                                    },
                                    "topologyVersion": {}
                                }
                            },
                            "c:\\tabsetup\\python-3.6.4-amd64.exe": {
                                "source": "https://www.python.org/ftp/python/3.6.4/python-3.6.4-amd64.exe"
                            },
                            "c:\\tabsetup\\tableau-server-webapp-installer.exe": {
                                "source": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "https://",
                                            {
                                                "Fn::FindInMap": [
                                                    "DefaultConfiguration",
                                                    "InstallationConfig",
                                                    "InstallationBucket"
                                                ]
                                            },
                                            ".s3-us-west-2.amazonaws.com/",
                                            {
                                                "Fn::FindInMap": [
                                                    "DefaultConfiguration",
                                                    "InstallationConfig",
                                                    "InstallationExecutable"
                                                ]
                                            }
                                        ]
                                    ]
                                }
                            }
                        },
                        "commands": {
                            "01-install-python": {
                                "command": "c:\\tabsetup\\python-3.6.4-amd64.exe /quiet InstallAllUsers=1 PrependPath=1",
                                "cwd": "c:\\tabsetup",
                                "waitAfterCompletion": "0"
                            },
                            "02-create-user": {
                                "command": {
                                    "Fn::Join": [
                                        " ",
                                        [
                                            "net",
                                            "user",
                                            {
                                                "Fn::Sub": "${Username}"
                                            },
                                            {
                                                "Fn::Sub": "${Password}"
                                            },
                                            "/add",
                                            "/y"
                                        ]
                                    ]
                                },
                                "cwd": "c:\\tabsetup",
                                "waitAfterCompletion": "0"
                            },
                            "03-add-admin": {
                                "command": {
                                    "Fn::Join": [
                                        " ",
                                        [
                                            "net",
                                            "localgroup",
                                            "Administrators",
                                            {
                                                "Fn::Sub": "${Username}"
                                            },
                                            "/add",
                                            "/y"
                                        ]
                                    ]
                                },
                                "cwd": "c:\\tabsetup",
                                "waitAfterCompletion": "0"
                            },
                            "04-run-installer": {
                                "cwd": "c:\\tabsetup",
                                "command": {
                                    "Fn::Join": [
                                        " ",
                                        [
                                            "\"C:\\Program Files\\Python36\\python.exe\"",
                                            "SilentInstaller.py",
                                            "install",
                                            "--secretsFile c:\\tabsetup\\secrets.json",
                                            "--registrationFile c:\\tabsetup\\registration.json",
                                            "--configFile c:\\tabsetup\\config.json",
                                            "--installDir d:\\tableau",
                                            "c:\\tabsetup\\tableau-server-webapp-installer.exe",
                                            " > c:\\tabsetup\\tsm_installer-output.txt 2>&1"
                                        ]
                                    ]
                                },
                                "waitAfterCompletion": "0"
                            },
                            "05-cleanup-secrets": {
                                "cwd": "c:\\tabsetup",
                                "command": "del c:\\tabsetup\\secrets.json",
                                "waitAfterCompletion": "0"
                            },
                            "06-configure-firewall": {
                                "cwd": "c:\\tabsetup",
                                "command": {
                                    "Fn::If": [
                                        "DisableFirewall_Yes",
                                        {
                                            "Fn::Join": [
                                                " ",
                                                [
                                                    "\"C:\\Program Files\\Python36\\python.exe\"",
                                                    "manageFirewallPorts.py",
                                                    "install",
                                                    "--configFile c:\\tabsetup\\config.json",
                                                    "--enablePublicFwRule",
                                                    " > c:\\tabsetup\\tsm_installer-firewall-config.txt 2>&1"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                " ",
                                                [
                                                    "\"C:\\Program Files\\Python36\\python.exe\"",
                                                    "manageFirewallPorts.py",
                                                    "install",
                                                    "--configFile c:\\tabsetup\\config.json",
                                                    " > c:\\tabsetup\\tsm_installer-firewall-config.txt 2>&1"
                                                ]
                                            ]
                                        }
                                    ]
                                },
                                "waitAfterCompletion": "0"
                            },
                            "07-pip-install-document-api": {
                                "command": "\"C:\\Program Files\\Python36\\Scripts\\pip.exe\" install tableaudocumentapi",
                                "cwd": "c:\\tabsetup",
                                "waitAfterCompletion": "0"
                            },
                            "08-pip-install-yaml": {
                                "command": "\"C:\\Program Files\\Python36\\Scripts\\pip.exe\" install pyyaml",
                                "cwd": "c:\\tabsetup",
                                "waitAfterCompletion": "0"
                            },
                            "09-update-datasource-redshift": {
                                "cwd": "c:\\tabsetup",
                                "command": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "\"C:\\Program Files\\Python36\\python\" update-datasource.py ",
                                            "--filename c:\\tabsetup\\redshift.tds ",
                                            "--server ",
                                            {
                                                "Ref": "RedshiftHost"
                                            },
                                            " ",
                                            "--port ",
                                            {
                                                "Ref": "RedshiftDatabasePort"
                                            },
                                            " ",
                                            "--dbname ",
                                            {
                                                "Ref": "RedshiftDatabaseName"
                                            },
                                            " ",
                                            "--username ",
                                            {
                                                "Ref": "RedshiftUsername"
                                            },
                                            " ",
                                            "> c:\\tabsetup\\update-datasource-redshift-output.txt 2>&1"
                                        ]
                                    ]
                                },
                                "waitAfterCompletion": "0"
                            },
                            "10-update-datasource-oracle": {
                                "cwd": "c:\\tabsetup",
                                "command": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "\"C:\\Program Files\\Python36\\python\" update-datasource.py ",
                                            "--filename c:\\tabsetup\\oracle.tds ",
                                            "--server ",
                                            {
                                                "Ref": "RDSHost"
                                            },
                                            " ",
                                            "--port ",
                                            {
                                                "Ref": "RDSDatabasePort"
                                            },
                                            " ",
                                            "--dbname ",
                                            {
                                                "Ref": "RDSDatabaseName"
                                            },
                                            " ",
                                            "--username ",
                                            {
                                                "Ref": "RDSUsername"
                                            },
                                            " ",
                                            "> c:\\tabsetup\\update-datasource-oracle-output.txt 2>&1"
                                        ]
                                    ]
                                },
                                "waitAfterCompletion": "0"
                            },
                            "11-publish-redshift-datasource": {
                                "command": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "powershell.exe -ExecutionPolicy RemoteSigned -Command \"",
                                            "& D:\\tableau\\*\\bin*\\tabcmd.exe publish c:\\tabsetup\\redshift.tds ",
                                            "--server http://localhost ",
                                            "--username ",
                                            {
                                                "Ref": "TableauServerAdminUser"
                                            },
                                            " ",
                                            "--password ",
                                            {
                                                "Ref": "TableauServerAdminPassword"
                                            },
                                            " ",
                                            "--db-username ",
                                            {
                                                "Ref": "RedshiftUsername"
                                            },
                                            " ",
                                            "--db-password ",
                                            {
                                                "Ref": "RedshiftPassword"
                                            },
                                            " ",
                                            "--save-db-password",
                                            "\""
                                        ]
                                    ]
                                },
                                "waitAfterCompletion": "0"
                            },
                            "12-publish-oracle-datasource": {
                                "command": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "powershell.exe -ExecutionPolicy RemoteSigned -Command \"",
                                            "& D:\\tableau\\*\\bin*\\tabcmd.exe publish c:\\tabsetup\\oracle.tds ",
                                            "--server http://localhost ",
                                            "--username ",
                                            {
                                                "Ref": "TableauServerAdminUser"
                                            },
                                            " ",
                                            "--password ",
                                            {
                                                "Ref": "TableauServerAdminPassword"
                                            },
                                            " ",
                                            "--db-username ",
                                            {
                                                "Ref": "RDSUsername"
                                            },
                                            " ",
                                            "--db-password ",
                                            {
                                                "Ref": "RDSPassword"
                                            },
                                            " ",
                                            "--save-db-password",
                                            "\""
                                        ]
                                    ]
                                },
                                "waitAfterCompletion": "0"
                            },
                            "13-publish-sample-dashboard": {
                                "command": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "powershell.exe -ExecutionPolicy RemoteSigned -Command \"",
                                            "& D:\\tableau\\*\\bin*\\tabcmd.exe publish c:\\tabsetup\\informatica.twb ",
                                            "--server http://localhost ",
                                            "--username ",
                                            {
                                                "Ref": "TableauServerAdminUser"
                                            },
                                            " ",
                                            "--password ",
                                            {
                                                "Ref": "TableauServerAdminPassword"
                                            },
                                            "\""
                                        ]
                                    ]
                                },
                                "waitAfterCompletion": "0"
                            }
                        }
                    }
                }
            },
            "Properties": {
                "InstanceType": {
                    "Ref": "InstanceType"
                },
                "ImageId": {
                    "Fn::FindInMap": [
                        "AWSAMIRegionMap",
                        {
                            "Ref": "AWS::Region"
                        },
                        {
                            "Fn::FindInMap": [
                                "DefaultConfiguration",
                                "MachineConfiguration",
                                "WindowsVersion"
                            ]
                        }
                    ]
                },
                "BlockDeviceMappings": [
                    {
                        "DeviceName": "/dev/sda1",
                        "Ebs": {
                            "VolumeSize": {
                                "Fn::FindInMap": [
                                    "DefaultConfiguration",
                                    "MachineConfiguration",
                                    "SystemVolumeSize"
                                ]
                            },
                            "VolumeType": "gp2"
                        }
                    },
                    {
                        "DeviceName": "xvdc",
                        "Ebs": {
                            "VolumeSize": {
                                "Fn::FindInMap": [
                                    "DefaultConfiguration",
                                    "MachineConfiguration",
                                    "DataVolumeSize"
                                ]
                            },
                            "VolumeType": "gp2"
                        }
                    }
                ],
                "NetworkInterfaces": [
                    {
                        "NetworkInterfaceId": {
                            "Ref": "TableauServerNetInterface"
                        },
                        "DeviceIndex": "0"
                    }
                ],
                "KeyName": {
                    "Ref": "KeyPairName"
                },
                "UserData": {
                    "Fn::Base64": {
                        "Fn::Join": [
                            "\n",
                            [
                                "<script>",
                                {
                                    "Fn::Sub": "cfn-init.exe -v -s ${AWS::StackId} -r TableauWindowsServer --region ${AWS::Region}"
                                },
                                {
                                    "Fn::Sub": [
                                        "cfn-signal.exe -e %errorlevel% ${WHUrl}",
                                        {
                                            "WHUrl": {
                                                "Fn::Base64": {
                                                    "Ref": "TableauServerWaitHandle"
                                                }
                                            }
                                        }
                                    ]
                                },
                                "</script>"
                            ]
                        ]
                    }
                },
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": {
                            "Fn::Sub": "${AWS::StackName}-cfn-tableau-server"
                        }
                    }
                ]
            }
        },
        "TableauServerWaitHandle": {
            "Type": "AWS::CloudFormation::WaitConditionHandle"
        },
        "TableauServerWaitCondition": {
            "Type": "AWS::CloudFormation::WaitCondition",
            "Properties": {
                "Handle": {
                    "Ref": "TableauServerWaitHandle"
                },
                "Timeout": "3600"
            }
        }
    },
    "Outputs": {
        "InstanceID": {
            "Description": "EC2 InstanceID of the instance running Tableau Server",
            "Value": {
                "Ref": "TableauWindowsServer"
            }
        },
        "PublicIPAddress": {
            "Description": "Public IP Address of instance running Tableau Server",
            "Value": {
                "Fn::GetAtt": [
                    "TableauWindowsServer",
                    "PublicIp"
                ]
            }
        },
        "PublicDnsName": {
            "Description": "Public DNS name of instance running Tableau Server",
            "Value": {
                "Fn::GetAtt": [
                    "TableauWindowsServer",
                    "PublicDnsName"
                ]
            }
        },
        "PrivateIpAddress": {
            "Description": "Private IP Address of instance running Tableau Server",
            "Value": {
                "Fn::GetAtt": [
                    "TableauWindowsServer",
                    "PrivateIp"
                ]
            }
        },
        "PrivateDnsName": {
            "Description": "Private DNS name of instance running Tableau Server",
            "Value": {
                "Fn::GetAtt": [
                    "TableauWindowsServer",
                    "PrivateDnsName"
                ]
            }
        },
        "TableauServicesManagerURL": {
            "Description": "URL for the TSM Web UI",
            "Value": {
                "Fn::Join": [
                    "",
                    [
                        "https://",
                        {
                            "Fn::GetAtt": [
                                "TableauWindowsServer",
                                "PublicIp"
                            ]
                        },
                        ":8850/"
                    ]
                ]
            }
        },
        "TableauServerURL": {
            "Description": "Public DNS name of instance running Tableau Server",
            "Value": {
                "Fn::Join": [
                    "",
                    [
                        "http://",
                        {
                            "Fn::GetAtt": [
                                "TableauWindowsServer",
                                "PublicDnsName"
                            ]
                        },
                        "/"
                    ]
                ]
            }
        }
    }
}
