{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Create Route53 RecordSet for Drupal site domain.",
    "Parameters":{
        "HostedZoneId":{
            "Description": "Route53 Hosted Zone ID",
            "Type": "AWS::Route53::HostedZone::Id"
        },
        "DomainName":{
            "Description": "Drupal site domain name. e.g. mysite.com.",
            "Type": "String",
            "MinLength":"1",
            "MaxLength":"64",
            "AllowedPattern":"(?!-)[a-zA-Z0-9-.]*(?<!-)",
            "ConstraintDescription":"must be a valid fully-qualified domain name.",
            "Default":"example.com"
        },
         "ElbDnsName":{
            "Description": "ALB/ELB URL",
            "Type": "String"
         },
         "ElbHostedZoneId":{
             "Description": "ALB/ELB Hosted Zone ID e.g. Z2FDTNDATAQYW2",
             "Type": "String"
         }
    },
    "Resources":{
        "drupalDomainDns":{
            "Type": "AWS::Route53::RecordSetGroup",
            "Properties":{
                "HostedZoneId": {"Ref": "HostedZoneId"},
                "RecordSets":[
                    {
                        "Name": {"Ref": "DomainName"},
                        "Type": "A",
                        "AliasTarget":{
                            "DNSName": {"Ref": "ElbDnsName"},
                            "EvaluateTargetHealth": "True",
                            "HostedZoneId": {"Ref": "ElbHostedZoneId"}
                        }
                    }
                ]
            }
        }
    }
}