{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "AWS CloudFormation templates to create S3 bucket for Qubole logging data.(qs-1nncltg5n)",
    "Resources": {
        "QuboleLoggingBucket": {
            "Type": "AWS::S3::Bucket",
            "Properties": {
                "BucketName": {
                    "Fn::Join": [
                        "-",
                        [
                            "qubole",
                            "logging",
                            {
                                "Ref": "AWS::AccountId"
                            },
                            {
                                "Ref": "AWS::Region"
                            }
                        ]
                    ]
                }
            }
        }
    },
    "Outputs": {
        "QuboleLoggingBucketName": {
            "Description": "Qubole logging bucket name",
            "Value": {
                "Ref": "QuboleLoggingBucket"
            }
        }
    }
}
