{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Add Subnets, Route Tables for Splunk Infrastructure",
    "Parameters": {
        "AvailabilityZones": {
            "Description": "Enter the list of Availability Zones (Based on Number of AZs above)",
            "Type": "List<AWS::EC2::AvailabilityZone::Name>"
        },
        "InternetGateway": {
            "Description": "Internet Gateway Id",
            "Type": "String"
        },
        "NumberOfAZs": {
            "Default": "2",
            "Description": "Total Number of AZs which will be used in this deployment (Min 2 and Max 3)",
            "MaxValue": "3",
            "MinValue": "2",
            "Type": "Number"
        },
        "SplunkSubnetIpBlocks": {
            "Default": "192.168.3.0/24, 192.168.13.0/24, 192.168.23.0/24",
            "Description": "Trust subnet comma-delimited list of CIDR blocks",
            "Type": "CommaDelimitedList"
        },
        "VPCID": {
            "Description": "VPC Id",
            "Type": "AWS::EC2::VPC::Id"
        }
    },
    "Metadata": {
        "AWS::CloudFormation::Interface": {
            "ParameterGroups": [
                {
                    "Label": {
                        "default": "Subnet Configuration"
                    },
                    "Parameters": [
                        "VPCID",
                        "NumberOfAZs",
                        "AvailabilityZones",
                        "SplunkSubnetIpBlocks",
                        "InternetGateway"
                    ]
                }
            ],
            "ParameterLabels": {
                "AvailabilityZones": {
                    "default": "Select list of AZ:"
                },
                "NumberOfAZs": {
                    "default": "Number of AZ for deployment:"
                },
                "SplunkSubnetIpBlocks": {
                    "default": "Splunk Subnet CIDR Block:"
                },
                "InternetGateway": {
                    "default": "Internet Gateway Id:"
                },
                "VPCID": {
                    "default": "VPC ID:"
                }
            }
        }
    },
    "Mappings": {},
    "Conditions": {
        "CreateSubnet2": {
            "Fn::Equals": [
                {
                    "Ref": "NumberOfAZs"
                },
                "2"
            ]
        },
        "CreateSubnet3": {
            "Fn::Or": [
                {
                    "Fn::Equals": [
                        {
                            "Ref": "NumberOfAZs"
                        },
                        "3"
                    ]
                },
                {
                    "Fn::Equals": [
                        {
                            "Ref": "NumberOfAZs"
                        },
                        "4"
                    ]
                }
            ]
        },
        "CreateSubnet4": {
            "Fn::Equals": [
                {
                    "Ref": "NumberOfAZs"
                },
                "4"
            ]
        },
        "CreateSubnetAz3": {
            "Fn::Equals": [
                {
                    "Ref": "NumberOfAZs"
                },
                "3"
            ]
        }
    },
    "Resources": {
        "SplunkSubnet1": {
            "Type": "AWS::EC2::Subnet",
            "Properties": {
                "AvailabilityZone": {
                    "Fn::Select": [
                        "0",
                        {
                            "Ref": "AvailabilityZones"
                        }
                    ]
                },
                "VpcId": {
                    "Ref": "VPCID"
                },
                "CidrBlock": {
                    "Fn::Select": [
                        "0",
                        {
                            "Ref": "SplunkSubnetIpBlocks"
                        }
                    ]
                },
                "Tags": [
                    {
                        "Key": "Application",
                        "Value": {
                            "Ref": "AWS::StackId"
                        }
                    },
                    {
                        "Key": "Network",
                        "Value": "Splunk"
                    },
                    {
                        "Key": "Name",
                        "Value": {
                            "Fn::Join": [
                                "-",
                                [
                                    {
                                        "Ref": "AWS::StackName"
                                    },
                                    "SplunkSubnet1"
                                ]
                            ]
                        }
                    }
                ]
            },
            "DependsOn": []
        },
        "SplunkSubnet2": {
            "Type": "AWS::EC2::Subnet",
            "Properties": {
                "AvailabilityZone": {
                    "Fn::Select": [
                        "1",
                        {
                            "Ref": "AvailabilityZones"
                        }
                    ]
                },
                "VpcId": {
                    "Ref": "VPCID"
                },
                "CidrBlock": {
                    "Fn::Select": [
                        "1",
                        {
                            "Ref": "SplunkSubnetIpBlocks"
                        }
                    ]
                },
                "Tags": [
                    {
                        "Key": "Application",
                        "Value": {
                            "Ref": "AWS::StackId"
                        }
                    },
                    {
                        "Key": "Network",
                        "Value": "Splunk"
                    },
                    {
                        "Key": "Name",
                        "Value": {
                            "Fn::Join": [
                                "-",
                                [
                                    {
                                        "Ref": "AWS::StackName"
                                    },
                                    "SplunkSubnet2"
                                ]
                            ]
                        }
                    }
                ]
            },
            "DependsOn": []
        },
        "SplunkSubnet3": {
            "Type": "AWS::EC2::Subnet",
            "Condition": "CreateSubnet3",
            "Properties": {
                "AvailabilityZone": {
                    "Fn::Select": [
                        "2",
                        {
                            "Ref": "AvailabilityZones"
                        }
                    ]
                },
                "VpcId": {
                    "Ref": "VPCID"
                },
                "CidrBlock": {
                    "Fn::Select": [
                        "2",
                        {
                            "Ref": "SplunkSubnetIpBlocks"
                        }
                    ]
                },
                "Tags": [
                    {
                        "Key": "Application",
                        "Value": {
                            "Ref": "AWS::StackId"
                        }
                    },
                    {
                        "Key": "Network",
                        "Value": "Splunk"
                    },
                    {
                        "Key": "Name",
                        "Value": {
                            "Fn::Join": [
                                "-",
                                [
                                    {
                                        "Ref": "AWS::StackName"
                                    },
                                    "SplunkSubnet3"
                                ]
                            ]
                        }
                    }
                ]
            },
            "DependsOn": []
        },
        "SplunkSubnet4": {
            "Type": "AWS::EC2::Subnet",
            "Condition": "CreateSubnet4",
            "Properties": {
                "AvailabilityZone": {
                    "Fn::Select": [
                        "3",
                        {
                            "Ref": "AvailabilityZones"
                        }
                    ]
                },
                "VpcId": {
                    "Ref": "VPCID"
                },
                "CidrBlock": {
                    "Fn::Select": [
                        "3",
                        {
                            "Ref": "SplunkSubnetIpBlocks"
                        }
                    ]
                },
                "Tags": [
                    {
                        "Key": "Application",
                        "Value": {
                            "Ref": "AWS::StackId"
                        }
                    },
                    {
                        "Key": "Network",
                        "Value": "Splunk"
                    },
                    {
                        "Key": "Name",
                        "Value": {
                            "Fn::Join": [
                                "-",
                                [
                                    {
                                        "Ref": "AWS::StackName"
                                    },
                                    "SplunkSubnet4"
                                ]
                            ]
                        }
                    }
                ]
            },
            "DependsOn": []
        },
        "SplunkRouteTable": {
            "Type": "AWS::EC2::RouteTable",
            "Properties": {
                "VpcId": {
                    "Ref": "VPCID"
                },
                "Tags": [
                    {
                        "Key": "Application",
                        "Value": {
                            "Ref": "AWS::StackId"
                        }
                    },
                    {
                        "Key": "Network",
                        "Value": "Splunk"
                    },
                    {
                        "Key": "Name",
                        "Value": {
                            "Fn::Join": [
                                "-",
                                [
                                    {
                                        "Ref": "AWS::StackName"
                                    },
                                    "SplunkRouteTable"
                                ]
                            ]
                        }
                    }
                ]
            },
            "DependsOn": []
        },
        "SplunkRoute": {
            "Type": "AWS::EC2::Route",
            "Properties": {
                "RouteTableId": {
                    "Ref": "SplunkRouteTable"
                },
                "DestinationCidrBlock": "0.0.0.0/0",
                "GatewayId": {
                    "Ref": "InternetGateway"
                }
            },
            "DependsOn": [
                "SplunkRouteTable"
            ]
        },
        "SplunkSubnetRouteTableAssociation1": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Properties": {
                "SubnetId": {
                    "Ref": "SplunkSubnet1"
                },
                "RouteTableId": {
                    "Ref": "SplunkRouteTable"
                }
            },
            "DependsOn": [
                "SplunkSubnet1"
            ]
        },
        "SplunkSubnetRouteTableAssociation2": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Properties": {
                "SubnetId": {
                    "Ref": "SplunkSubnet2"
                },
                "RouteTableId": {
                    "Ref": "SplunkRouteTable"
                }
            },
            "DependsOn": [
                "SplunkSubnet2"
            ]
        },
        "SplunkSubnetRouteTableAssociation3": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Condition": "CreateSubnet3",
            "Properties": {
                "SubnetId": {
                    "Ref": "SplunkSubnet3"
                },
                "RouteTableId": {
                    "Ref": "SplunkRouteTable"
                }
            },
            "DependsOn": [
                "SplunkSubnet3"
            ]
        },
        "SplunkSubnetRouteTableAssociation4": {
            "Type": "AWS::EC2::SubnetRouteTableAssociation",
            "Condition": "CreateSubnet4",
            "Properties": {
                "SubnetId": {
                    "Ref": "SplunkSubnet4"
                },
                "RouteTableId": {
                    "Ref": "SplunkRouteTable"
                }
            },
            "DependsOn": [
                "SplunkSubnet4"
            ]
        }
    },
    "Outputs": {
        "SplunkSubnet1": {
            "Description": "Splunk subnet 1 Id",
            "Value": {
                "Ref": "SplunkSubnet1"
            }
        },
        "SplunkSubnet2": {
            "Description": "Splunk subnet 2 Id",
            "Value": {
                "Ref": "SplunkSubnet2"
            }
        },
        "SplunkSubnet3": {
            "Condition": "CreateSubnet3",
            "Description": "Splunk subnet 3 Id",
            "Value": {
                "Ref": "SplunkSubnet3"
            }
        },
        "SplunkSubnet4": {
            "Condition": "CreateSubnet4",
            "Description": "Splunk subnet 4 Id",
            "Value": {
                "Ref": "SplunkSubnet4"
            }
        }
    }
}