{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Create Syslog-ng cluster to receive logs from firewall and send it to Splunk Indexers.",
    "Metadata":{
      "AWSAMIRegionMap":{
        "Filters":{
          "SPLUNKENTHVM":{
            "name":"splunk_marketplace_AMI_*",
            "owner-alias":"aws-marketplace",
            "product-code.type":"marketplace"
          }
        }
      }
    },
    "Parameters": {
        "ClusterMasterManagementURL": {
            "Default": "",
            "Description": "Cluster Master private IP URL",
            "Type": "String"
        },
        "KeyName": {
            "ConstraintDescription": "Must be the name of an existing EC2 KeyPair.",
            "Description": "Name of an existing EC2 KeyPair to enable SSH access to the instance",
            "Type": "AWS::EC2::KeyPair::KeyName"
        },
        "NumberOfAZs": {
            "AllowedValues": [
                "2",
                "3"
            ],
            "Default": "2",
            "Description": "Number of Availability Zones to use in the VPC. This must match the number public subnet IDs entered as parameters",
            "Type": "String"
        },
        "PublicSubnet1ID": {
            "Description": "ID of Splunk public subnet 1 in Availability Zone 1 (e.g., subnet-xxxxxxxx)",
            "Type": "AWS::EC2::Subnet::Id"
        },
        "PublicSubnet2ID": {
            "Description": "ID of Splunk public subnet 2 in Availability Zone 2 (e.g., subnet-xxxxxxxx)",
            "Type": "AWS::EC2::Subnet::Id"
        },
        "PublicSubnet3ID": {
            "Default": "",
            "Description": "ID of Splunk public subnet 3 in Availability Zone 3 (e.g., subnet-xxxxxxxx)",
            "Type": "AWS::EC2::Subnet::Id"
        },
        "QSS3BucketName": {
            "Default": "",
            "Description": "S3 bucket name for the Quick Start assets. Quick Start bucket name can include numbers, lowercase letters, uppercase letters, and hyphens (-). It cannot start or end with a hyphen (-).",
            "Type": "String"
        },
        "QSS3KeyPrefix": {
            "Default": "",
            "Description": "S3 key prefix for the Quick Start assets. Quick Start key prefix can include numbers, lowercase letters, uppercase letters, hyphens (-), and forward slash (/).",
            "Type": "String"
        },
        "SSHClientLocation": {
            "AllowedPattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/([0-9]|[1-2][0-9]|3[0-2]))$",
            "ConstraintDescription": "Must be a valid IP range in x.x.x.x/x notation.  Use 0.0.0.0/0 for no restrictions.",
            "Description": "The IP address range that is allowed to SSH to the EC2 instances. Note: a value of 0.0.0.0/0 will allow access from ANY ip address",
            "MaxLength": "19",
            "MinLength": "9",
            "Type": "String"
        },
        "SplunkAdminPassword": {
            "AllowedPattern": "(?=^.{6,255}$)((?=.*\\d)(?=.*[A-Z])(?=.*[a-z])|(?=.*\\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])|(?=.*[^A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z])|(?=.*\\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9]))^.*",
            "ConstraintDescription": "Must be at least 8 characters containing letters, numbers and symbols.",
            "Description": "Admin password for Splunk. Must be at least 8 characters containing letters, numbers and symbols.",
            "MaxLength": "32",
            "MinLength": "6",
            "NoEcho": "true",
            "Type": "String"
        },
        "SplunkIndexerDiscoverySecret": {
            "AllowedPattern": "(?=^.{6,255}$)((?=.*\\d)(?=.*[A-Z])(?=.*[a-z])|(?=.*\\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])|(?=.*[^A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z])|(?=.*\\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9]))^.*",
            "ConstraintDescription": "Must be at least 8 characters containing letters, numbers and symbols.",
            "Description": "Security key used for communication between your forwarders and the cluster master. This value should also be used by forwarders in order to retrieve list of available peer nodes from cluster master. Must be at least 8 characters containing letters, numbers and symbols.",
            "MaxLength": "32",
            "MinLength": "8",
            "NoEcho": "true",
            "Type": "String"
        },
        "SplunkSyslogDiskSize": {
            "ConstraintDescription": "must be a valid number, 320-16000",
            "Default": "320",
            "Description": "The size of the attached EBS volume to the Splunk syslog aggregator s.  (in GB)",
            "MaxValue": "16000",
            "MinValue": "320",
            "Type": "Number"
        },
        "SplunkSyslogInstanceCount": {
            "ConstraintDescription": "must be a valid number, 2-10",
            "Default": "2",
            "Description": "How many Splunk syslog-ng servers to launch.  [2-10]",
            "MaxValue": "10",
            "MinValue": "2",
            "Type": "Number"
        },
        "SplunkSyslogInstanceType": {
            "AllowedValues": [
                "c4.large",
                "c4.xlarge",
                "c4.2xlarge",
                "c4.4xlarge"
            ],
            "ConstraintDescription": "must be a valid EC2 instance type.",
            "Default": "c4.large",
            "Description": "EC2 instance type for syslog-ng servers.",
            "Type": "String"
        },
        "SplunkUFLocation": {
            "Description": "S3 location for Splunk Universal Forwarder (e.g. https://s3.amazonaws.com/splunk-uf-bucket/splunk-uf.rpm",
            "Type": "String"
        },
        "VPCCIDR": {
            "AllowedPattern": "(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})/(\\d{1,2})",
            "ConstraintDescription": "must be a valid IP CIDR range of the form x.x.x.x/x.",
            "Default": "10.0.0.0/16",
            "Description": "The address space that will be assigned to the entire VPC where Splunk will reside. (Recommend at least a /16)",
            "MaxLength": "19",
            "MinLength": "9",
            "Type": "String"
        },
        "VPCID": {
            "Description": "VPC ID",
            "Type": "AWS::EC2::VPC::Id"
        }
    },
    "Resources": {
        "SplunkSyslogSecurityGroup": {
            "Type": "AWS::EC2::SecurityGroup",
            "Properties": {
                "VpcId": {
                    "Ref": "VPCID"
                },
                "GroupDescription": "Enable tcp/udp port 514 for Splunk syslog-ng aggregators",
                "SecurityGroupIngress": [
                    {
                        "IpProtocol": "tcp",
                        "FromPort": "514",
                        "ToPort": "514",
                        "CidrIp": {
                            "Ref": "VPCCIDR"
                        }
                    },
                    {
                        "IpProtocol": "udp",
                        "FromPort": "514",
                        "ToPort": "514",
                        "CidrIp": {
                            "Ref": "VPCCIDR"
                        }
                    }
                ],
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": "SplunkSyslogSecurityGroup"
                    }
                ]
            }
        },
        "SplunkSecurityGroup": {
            "Type": "AWS::EC2::SecurityGroup",
            "Properties": {
                "VpcId": {
                    "Ref": "VPCID"
                },
                "GroupDescription": "Enable administrative ports (SSH and management port)",
                "SecurityGroupIngress": [
                    {
                        "IpProtocol": "tcp",
                        "FromPort": "22",
                        "ToPort": "22",
                        "CidrIp": {
                            "Ref": "SSHClientLocation"
                        }
                    },
                    {
                        "IpProtocol": "tcp",
                        "FromPort": "8089",
                        "ToPort": "8089",
                        "CidrIp": {
                            "Ref": "VPCCIDR"
                        }
                    }
                ],
                "Tags": [
                    {
                        "Key": "Application",
                        "Value": {
                            "Ref": "AWS::StackId"
                        }
                    },
                    {
                        "Key": "Name",
                        "Value": "SplunkSecurityGroup"
                    }
                ]
            }
        },
        "SplunkSyslogLoadBalancer": {
            "Type": "AWS::ElasticLoadBalancing::LoadBalancer",
            "Properties": {
                "LoadBalancerName": "sysng",
                "ConnectionDrainingPolicy": {
                    "Enabled": true,
                    "Timeout": 300
                },
                "Listeners": [
                    {
                        "InstancePort": "514",
                        "InstanceProtocol": "TCP",
                        "LoadBalancerPort": "514",
                        "Protocol": "TCP"
                    }
                ],
                "Scheme": "internal",
                "Subnets": {
                    "Fn::If": [
                        "Create3AZ",
                        [
                            {
                                "Ref": "PublicSubnet1ID"
                            },
                            {
                                "Ref": "PublicSubnet2ID"
                            },
                            {
                                "Ref": "PublicSubnet3ID"
                            }
                        ],
                        [
                            {
                                "Ref": "PublicSubnet1ID"
                            },
                            {
                                "Ref": "PublicSubnet2ID"
                            }
                        ]
                    ]
                },
                "HealthCheck": {
                    "Target": "TCP:514",
                    "HealthyThreshold": "2",
                    "UnhealthyThreshold": "2",
                    "Interval": "20",
                    "Timeout": "5"
                },
                "Policies": [
                    {
                        "PolicyName": "EnableProxyProtocol",
                        "PolicyType": "ProxyProtocolPolicyType",
                        "Attributes": [
                            {
                                "Name": "ProxyProtocol",
                                "Value": true
                            }
                        ],
                        "InstancePorts": [
                            "514"
                        ]
                    }
                ],
                "SecurityGroups": [
                    {
                        "Ref": "SplunkSyslogSecurityGroup"
                    },
                    {
                        "Ref": "SplunkSecurityGroup"
                    }
                ]
            }
        },
        "SysngMainLogGroup": {
            "Type": "AWS::Logs::LogGroup"
        },
        "NewIamInstanceRole": {
            "Type": "AWS::IAM::Role",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "ec2.amazonaws.com"
                                ]
                            },
                            "Action": [
                                "sts:AssumeRole"
                            ]
                        }
                    ]
                },
                "Path": "/",
                "Policies": [
                    {
                        "PolicyName": "Instance-Limited-Role",
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Effect": "Allow",
                                    "Action": [
                                        "logs:CreateLogGroup",
                                        "logs:CreateLogStream",
                                        "logs:PutLogEvents",
                                        "logs:DescribeLogStreams"
                                    ],
                                    "Resource": {
                                        "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:${SysngMainLogGroup}:*"
                                    }
                                },
                                {
                                    "Effect": "Allow",
                                    "Action": [
                                        "s3:GetObject"
                                    ],
                                    "Resource": "arn:aws:s3:::*"
                                }
                            ]
                        }
                    }
                ]
            }
        },
        "NewIamInstanceProfile": {
            "Type": "AWS::IAM::InstanceProfile",
            "Properties": {
                "Path": "/",
                "Roles": [
                    {
                        "Ref": "NewIamInstanceRole"
                    }
                ]
            }
        },
        "SplunkSyslogLaunchConfiguration": {
            "Type": "AWS::AutoScaling::LaunchConfiguration",
            "Metadata": {
                "Comment": "Install syslog-ng servers",
                "AWS::CloudFormation::Init": {
                    "config": {
                        "files": {
                            "/etc/syslog-ng/syslog-ng.conf": {
                                "source": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "https://",
                                            {
                                                "Ref": "QSS3BucketName"
                                            },
                                            ".s3.amazonaws.com/",
                                            {
                                                "Ref": "QSS3KeyPrefix"
                                            },
                                            "assets/syslog-ng.conf"
                                        ]
                                    ]
                                },
                                "mode": "000755",
                                "owner": "root",
                                "group": "root"
                            },
                            "/tmp/mo": {
                                "source": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "https://",
                                            {
                                                "Ref": "QSS3BucketName"
                                            },
                                            ".s3.amazonaws.com/",
                                            {
                                                "Ref": "QSS3KeyPrefix"
                                            },
                                            "assets/mo"
                                        ]
                                    ]
                                },
                                "mode": "000755",
                                "owner": "root",
                                "group": "root"
                            },
                            "/tmp/splunk-uf.rpm": {
                                "source": {
                                    "Ref": "SplunkUFLocation"
                                },
                                "mode": "000755",
                                "owner": "root",
                                "group": "root",
                                "authentication": "S3AccessCreds"
                            },
                            "/tmp/splunk-pan-syslog-app.tar.gz": {
                                "source": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "https://",
                                            {
                                                "Ref": "QSS3BucketName"
                                            },
                                            ".s3.amazonaws.com/",
                                            {
                                                "Ref": "QSS3KeyPrefix"
                                            },
                                            "assets/splunk-pan-syslog-app.tar.gz"
                                        ]
                                    ]
                                },
                                "mode": "000755",
                                "owner": "root",
                                "group": "root"
                            },
                            "/tmp/syslog_install.sh": {
                                "source": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "https://",
                                            {
                                                "Ref": "QSS3BucketName"
                                            },
                                            ".s3.amazonaws.com/",
                                            {
                                                "Ref": "QSS3KeyPrefix"
                                            },
                                            "scripts/syslog_install.sh"
                                        ]
                                    ]
                                },
                                "mode": "000755",
                                "owner": "root",
                                "group": "root"
                            },
                            "/tmp/variables.sh": {
                                "content": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "export SPLUNK_ADMIN_PASSWORD=\"",
                                            {
                                                "Ref": "SplunkAdminPassword"
                                            },
                                            "\"\n",
                                            "export SPLUNKINDEXERDISCOVERYSECRET=\"",
                                            {
                                                "Ref": "SplunkIndexerDiscoverySecret"
                                            },
                                            "\"\n",
                                            "export AWSSTACKNAME=\"",
                                            {
                                                "Ref": "AWS::StackName"
                                            },
                                            "\"\n",
                                            "export AWSREGION=\"",
                                            {
                                                "Ref": "AWS::Region"
                                            },
                                            "\"\n",
                                            "export ELBADDRESS=\"",
                                            {
                                                "Fn::GetAtt": [
                                                    "SplunkSyslogLoadBalancer",
                                                    "DNSName"
                                                ]
                                            },
                                            "\"\n",
                                            "export CLUSTERMASTERMANAGEMENTURL=\"",
                                            {
                                                "Ref": "ClusterMasterManagementURL"
                                            },
                                            "\"\n"
                                        ]
                                    ]
                                }
                            }
                        }
                    }
                },
                "AWS::CloudFormation::Authentication": {
                    "S3AccessCreds": {
                        "type": "S3",
                        "roleName": {
                            "Ref": "NewIamInstanceRole"
                        }
                    }
                }
            },
            "Properties": {
                "AssociatePublicIpAddress": true,
                "BlockDeviceMappings": [
                    {
                        "DeviceName": "/dev/xvda",
                        "Ebs": {
                            "VolumeType": "gp2",
                            "VolumeSize": {
                                "Ref": "SplunkSyslogDiskSize"
                            }
                        }
                    }
                ],
                "SecurityGroups": [
                    {
                        "Ref": "SplunkSecurityGroup"
                    },
                    {
                        "Ref": "SplunkSyslogSecurityGroup"
                    }
                ],
                "IamInstanceProfile": {
                    "Ref": "NewIamInstanceProfile"
                },
                "ImageId": {
                    "Fn::FindInMap": [
                        "AWSAMIRegionMap",
                        {
                            "Ref": "AWS::Region"
                        },
                        "SPLUNKENTHVM"
                    ]
                },
                "InstanceType": {
                    "Ref": "SplunkSyslogInstanceType"
                },
                "KeyName": {
                    "Ref": "KeyName"
                },
                "UserData": {
                    "Fn::Base64": {
                        "Fn::Join": [
                            "",
                            [
                                "#!/bin/bash -v\n",
                                "# First make clout-init output log readable by root only to protect sensitive parameter values\n",
                                "chmod 600 /var/log/cloud-init-output.log\n",
                                "yum update -y aws-cfn-bootstrap\n",
                                "export LOCALIP=$(curl -s http://169.254.169.254/latest/meta-data/local-ipv4)\n",
                                "export INSTANCEID=$(curl -s http://169.254.169.254/latest/meta-data/instance-id)\n",
                                "export SPLUNK_USER=splunk\n",
                                "export SPLUNK_BIN=/opt/splunk/bin/splunk\n",
                                "export SPLUNK_HOME=/opt/splunk\n",
                                "/opt/aws/bin/cfn-init -v ",
                                "         --stack ",
                                {
                                    "Ref": "AWS::StackName"
                                },
                                "         --resource SplunkSyslogLaunchConfiguration",
                                "         --region ",
                                {
                                    "Ref": "AWS::Region"
                                },
                                "\n",
                                "rpm -e --nodeps rsyslog\n",
                                "yum -y --enablerepo=epel install syslog-ng syslog-ng-libnet\n",
                                "source /tmp/variables.sh\n",
                                "bash /tmp/syslog_install.sh\n",
                                "rm -f /tmp/variables.sh /tmp/syslog_install.sh\n"
                            ]
                        ]
                    }
                }
            }
        },
        "SplunkSyslogNodesASG": {
            "Type": "AWS::AutoScaling::AutoScalingGroup",
            "Properties": {
                "VPCZoneIdentifier": {
                    "Fn::If": [
                        "Create3AZ",
                        [
                            {
                                "Ref": "PublicSubnet1ID"
                            },
                            {
                                "Ref": "PublicSubnet2ID"
                            },
                            {
                                "Ref": "PublicSubnet3ID"
                            }
                        ],
                        [
                            {
                                "Ref": "PublicSubnet1ID"
                            },
                            {
                                "Ref": "PublicSubnet2ID"
                            }
                        ]
                    ]
                },
                "LaunchConfigurationName": {
                    "Ref": "SplunkSyslogLaunchConfiguration"
                },
                "MinSize": {
                    "Ref": "SplunkSyslogInstanceCount"
                },
                "MaxSize": {
                    "Ref": "SplunkSyslogInstanceCount"
                },
                "DesiredCapacity": {
                    "Ref": "SplunkSyslogInstanceCount"
                },
                "LoadBalancerNames": [
                    {
                        "Ref": "SplunkSyslogLoadBalancer"
                    }
                ],
                "Tags": [
                    {
                        "Key": "Application",
                        "Value": {
                            "Ref": "AWS::StackId"
                        },
                        "PropagateAtLaunch": true
                    },
                    {
                        "Key": "Role",
                        "Value": "splunk-syslog",
                        "PropagateAtLaunch": true
                    },
                    {
                        "Key": "Name",
                        "Value": "splunk-syslog",
                        "PropagateAtLaunch": true
                    }
                ]
            }
        }
    },
    "Conditions": {
        "Create3AZ": {
            "Fn::Equals": [
                {
                    "Ref": "NumberOfAZs"
                },
                "3"
            ]
        }
    },
    "Mappings": {
        "AWSAMIRegionMap": {
            "AMI": {
                "SPLUNKENTHVM": "splunk_marketplace_AMI_2018-10-16_22_07_36-7b65de6c-5006-4ca2-bd75-fdba95ae5d9d-ami-0d494b5a999e1c49f.4"
            },
            "ap-northeast-1": {
                "SPLUNKENTHVM": "ami-0db36f11d65f551fb"
            },
            "ap-northeast-2": {
                "SPLUNKENTHVM": "ami-09c7965888207979b"
            },
            "ap-south-1": {
                "SPLUNKENTHVM": "ami-07c20db6edfd45f98"
            },
            "ap-southeast-1": {
                "SPLUNKENTHVM": "ami-0e7b7ca1bdcdd93a6"
            },
            "ap-southeast-2": {
                "SPLUNKENTHVM": "ami-0c8a4d5bdf83f0df8"
            },
            "ca-central-1": {
                "SPLUNKENTHVM": "ami-02f085f4514fa7145"
            },
            "eu-central-1": {
                "SPLUNKENTHVM": "ami-09ce965c3b1a9a1cb"
            },
            "eu-west-1": {
                "SPLUNKENTHVM": "ami-0fafe9e81915f154e"
            },
            "eu-west-2": {
                "SPLUNKENTHVM": "ami-060d9e50d310e0ebb"
            },
            "sa-east-1": {
                "SPLUNKENTHVM": "ami-0dacd4005280936e5"
            },
            "us-east-1": {
                "SPLUNKENTHVM": "ami-0484972f36720ea7f"
            },
            "us-east-2": {
                "SPLUNKENTHVM": "ami-04b6874c649721f0a"
            },
            "us-west-1": {
                "SPLUNKENTHVM": "ami-0377011a3f771e353"
            },
            "us-west-2": {
                "SPLUNKENTHVM": "ami-0c3e33232b6c07537"
            }
        }
    },
    "Outputs": {
        "PANSyslogTarget": {
            "Description": "Load balancer address to send syslog traffic",
            "Value": {
                "Fn::GetAtt": [
                    "SplunkSyslogLoadBalancer",
                    "DNSName"
                ]
            }
        }
    }
}
