AWSTemplateFormatVersion: 2010-09-09
Description: Cloudwatch dashboard template
Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: Cloudwatch Dashboard Configuration
        Parameters:
          - ProductStackName
          - ProductFamilyName
          - AsgToMonitor
          - DatabaseIdentifier

Parameters:
  ProductStackName:
    Description: "Product stack name"
    Type: "String"
  ProductFamilyName:
    Description: "Name of the product family being deployed"
    Type: "String"
  AsgToMonitor:
    Description: "Name of the ASG to monitor"
    Type: "String"
  DatabaseIdentifier:
    Description: "Identifier of database to monitor"
    Type: "String"

Resources:
  Dashboard:
    Type: "AWS::CloudWatch::Dashboard"
    Properties:
      DashboardName: !Sub ["${StackName}-dashboard", {StackName: !Ref 'ProductStackName'}]
      DashboardBody: !Sub |
        DASHBOARD_CONFIG


Outputs:
  Dashboard:
    Description: "Basic Monitoring dashboard"
    Value: !Sub
      - https://${AWS::Region}.console.aws.amazon.com/cloudwatch/home#dashboards:name=${DashboardName}-dashboard
      - DashboardName: !Ref ProductStackName
