{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Aviatrix Systems - Creates the necessary policies, roles, security group and launches Aviatrix Controller instance (qs-1o6p25lhf)",
    "Metadata": {
        "AWS::CloudFormation::Interface": {
            "ParameterGroups": [
                {
                    "Label": {
                        "default": "Network Configuration"
                    },
                    "Parameters": [
                        "VPCID",
                        "SubnetID"
                    ]
                },
                {
                    "Label": {
                        "default": "Amazon EC2 Configuration"
                    },
                    "Parameters": [
                        "KeyNameParam",
                        "InstanceTypeParam"
                    ]
                },
                {
                    "Label": {
                        "default": "IAM Roles"
                    },
                    "Parameters": [
                        "IAMRoleParam"
                    ]
                }
            ],
            "ParameterLabels": {
                "VPCID": {
                    "default": "VPC ID"
                },
                "SubnetID": {
                    "default": "Public Subnet ID"
                },
                "KeyNameParam": {
                    "default": "Key Pair"
                },
                "IAMRoleParam": {
                    "default": "Create the IAM roles"
                },
                "InstanceTypeParam": {
                    "default": "Aviatrix Controller instance type"
                }
            }
        }
    },
    "Parameters": {
        "VPCID": {
            "Type": "AWS::EC2::VPC::Id",
            "Description": "Select VPC which Aviatrix Controller will be deployed in"
        },
        "SubnetID": {
            "Type": "AWS::EC2::Subnet::Id",
            "Description": "Aviatrix Controller must be launched on a Public Subnet"
        },
        "KeyNameParam": {
            "Type": "AWS::EC2::KeyPair::KeyName",
            "Description": "Select your Keypair"
        },
        "IAMRoleParam": {
            "Description": "Select New if Aviatrix IAM role has not been created (first time launch). Select aviatrix-role-ec2 if there is already Aviatrix IAM role created",
            "Default": "New",
            "Type": "String",
            "AllowedValues": [
                "aviatrix-role-ec2",
                "New"
            ]
        },
        "InstanceTypeParam": {
            "Type": "String",
            "Default": "t2.large",
            "AllowedValues": [
                "t2.medium",
                "t2.large",
                "t2.xlarge",
                "t2.2xlarge",
                "m4.large",
                "m4.xlarge",
                "m4.2xlarge",
                "m4.4xlarge",
                "c4.large",
                "c4.xlarge",
                "c4.2xlarge",
                "c4.4xlarge"
            ],
            "Description": "Select an instance size for the controller."
        }
    },
    "Conditions": {
        "AviatrixIAMRoleNotExist": {
            "Fn::Equals": [
                {
                    "Ref": "IAMRoleParam"
                },
                "New"
            ]
        }
    },
    "Mappings": {
        "AWSAMIRegionMap": {
            "AMI": {
                "AVIATRIXMetered": "aviatrix_cloud_services_gateway_043018_metering_usage-0c922525-51c4-4b64-94ec-744291c05c1c-ami-0e0959b600120857a.4"
            },
            "ap-northeast-1": {
                "AVIATRIXMetered": "ami-358f674a"
            },
            "ap-northeast-2": {
                "AVIATRIXMetered": "ami-cc08a1a2"
            },
            "ap-south-1": {
                "AVIATRIXMetered": "ami-ccc4e7a3"
            },
            "ap-southeast-1": {
                "AVIATRIXMetered": "ami-8fcbfef3"
            },
            "ap-southeast-2": {
                "AVIATRIXMetered": "ami-e90ed98b"
            },
            "ca-central-1": {
                "AVIATRIXMetered": "ami-8d8707e9"
            },
            "eu-central-1": {
                "AVIATRIXMetered": "ami-d9bf9d32"
            },
            "eu-west-1": {
                "AVIATRIXMetered": "ami-f227138b"
            },
            "eu-west-2": {
                "AVIATRIXMetered": "ami-a06587c7"
            },
            "eu-west-3": {
                "AVIATRIXMetered": "ami-339e2f4e"
            },
            "sa-east-1": {
                "AVIATRIXMetered": "ami-1a90cd76"
            },
            "us-east-1": {
                "AVIATRIXMetered": "ami-df74f6a0"
            },
            "us-east-2": {
                "AVIATRIXMetered": "ami-a72c11c2"
            },
            "us-west-1": {
                "AVIATRIXMetered": "ami-e3170983"
            },
            "us-west-2": {
                "AVIATRIXMetered": "ami-1f770667"
            }
        },
        "AMINameMap": {
            "Metered": {
                "Code": "AVIATRIXMetered"
            }
        }
    },
    "Resources": {
        "AviatrixRoleEC2": {
            "Type": "AWS::IAM::Role",
            "Condition": "AviatrixIAMRoleNotExist",
            "Properties": {
                "RoleName": "aviatrix-role-ec2",
                "AssumeRolePolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "ec2.amazonaws.com"
                                ]
                            },
                            "Action": [
                                "sts:AssumeRole"
                            ]
                        }
                    ]
                },
                "Path": "/"
            }
        },
        "AviatrixRoleApp": {
            "Type": "AWS::IAM::Role",
            "Condition": "AviatrixIAMRoleNotExist",
            "Properties": {
                "RoleName": "aviatrix-role-app",
                "AssumeRolePolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "AWS": [
                                    {
                                        "Fn::Join": [
                                            "",
                                            [
                                                "arn:aws:iam::",
                                                {
                                                    "Ref": "AWS::AccountId"
                                                },
                                                ":root"
                                            ]
                                        ]
                                    }
                                ]
                            },
                            "Action": [
                                "sts:AssumeRole"
                            ]
                        }
                    ]
                },
                "Path": "/"
            }
        },
        "CreateAviatrixAssumeRolePolicy": {
            "Type": "AWS::IAM::ManagedPolicy",
            "Condition": "AviatrixIAMRoleNotExist",
            "Properties": {
                "ManagedPolicyName": "aviatrix-assume-role-policy",
                "Description": "Policy for creating aviatrix-assume-role-policy",
                "Path": "/",
                "PolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Action": [
                                "sts:AssumeRole"
                            ],
                            "Resource": "arn:aws:iam::*:role/aviatrix-role-app"
                        },
                        {
                            "Effect": "Allow",
                            "Action": [
                                "aws-marketplace:MeterUsage"
                            ],
                            "Resource": "*"
                        }
                    ]
                },
                "Roles": [
                    {
                        "Ref": "AviatrixRoleEC2"
                    }
                ]
            }
        },
        "CreateAviatrixAppPolicy": {
            "Type": "AWS::IAM::ManagedPolicy",
            "Condition": "AviatrixIAMRoleNotExist",
            "Properties": {
                "ManagedPolicyName": "aviatrix-app-policy",
                "Description": "Policy for creating aviatrix-app-policy",
                "Path": "/",
                "PolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Action": [
                                "ec2:Describe*",
                                "elasticloadbalancing:Describe*",
                                "route53:List*",
                                "route53:Get*",
                                "sqs:Get*",
                                "sqs:List*",
                                "sns:List*",
                                "s3:List*",
                                "s3:Get*",
                                "iam:List*",
                                "iam:Get*"
                            ],
                            "Resource": "*"
                        },
                        {
                            "Effect": "Allow",
                            "Action": [
                                "ec2:RunInstances"
                            ],
                            "Resource": "*"
                        },
                        {
                            "Effect": "Allow",
                            "Action": "ec2:RunInstances",
                            "Resource": "arn:aws:ec2:*:*:image/ami-*"
                        },
                        {
                            "Effect": "Allow",
                            "Action": "ec2:RunInstances",
                            "Resource": "*"
                        },
                        {
                            "Effect": "Allow",
                            "Action": [
                                "ec2:DeleteSecurityGroup",
                                "ec2:RevokeSecurityGroupEgress",
                                "ec2:RevokeSecurityGroupIngress",
                                "ec2:AuthorizeSecurityGroup*",
                                "ec2:CreateSecurityGroup",
                                "ec2:AssociateRouteTable",
                                "ec2:CreateRoute",
                                "ec2:CreateRouteTable",
                                "ec2:DeleteRoute",
                                "ec2:DeleteRouteTable",
                                "ec2:DisassociateRouteTable",
                                "ec2:ReplaceRoute",
                                "ec2:ReplaceRouteTableAssociation"
                            ],
                            "Resource": "*"
                        },
                        {
                            "Effect": "Allow",
                            "Action": [
                                "ec2:AllocateAddress",
                                "ec2:AssociateAddress",
                                "ec2:DisassociateAddress",
                                "ec2:ReleaseAddress",
                                "ec2:AssignPrivateIpAddresses",
                                "ec2:AttachNetworkInterface",
                                "ec2:CreateNetworkInterface",
                                "ec2:DeleteNetworkInterface",
                                "ec2:DetachNetworkInterface",
                                "ec2:ModifyNetworkInterfaceAttribute",
                                "ec2:ResetNetworkInterfaceAttribute",
                                "ec2:UnassignPrivateIpAddresses",
                                "ec2:ModifyInstanceAttribute",
                                "ec2:MonitorInstances",
                                "ec2:RebootInstances",
                                "ec2:ReportInstanceStatus",
                                "ec2:ResetInstanceAttribute",
                                "ec2:StartInstances",
                                "ec2:StopInstances",
                                "ec2:TerminateInstances",
                                "ec2:UnmonitorInstances",
                                "ec2:AttachInternetGateway",
                                "ec2:CreateInternetGateway",
                                "ec2:DeleteInternetGateway",
                                "ec2:DetachInternetGateway",
                                "ec2:CreateKeyPair",
                                "ec2:DeleteKeyPair",
                                "ec2:CreateSubnet",
                                "ec2:DeleteSubnet",
                                "ec2:ModifySubnetAttribute",
                                "ec2:CreateTags",
                                "ec2:DeleteTags",
                                "ec2:CreateVpc",
                                "ec2:DeleteVpc",
                                "ec2:ModifyVpcAttribute",
                                "ec2:CreateCustomerGateway",
                                "ec2:DeleteCustomerGateway",
                                "ec2:CreateVpnConnection",
                                "ec2:DeleteVpnConnection",
                                "ec2:CreateVpcPeeringConnection",
                                "ec2:AcceptVpcPeeringConnection",
                                "ec2:DeleteVpcPeeringConnection",
                                "ec2:ModifyInstanceCreditSpecification"
                            ],
                            "Resource": "*"
                        },
                        {
                            "Effect": "Allow",
                            "Action": [
                                "elasticloadbalancing:ApplySecurityGroupsToLoadBalancer",
                                "elasticloadbalancing:AttachLoadBalancerToSubnets",
                                "elasticloadbalancing:ConfigureHealthCheck",
                                "elasticloadbalancing:CreateLoadBalancer*",
                                "elasticloadbalancing:DeleteLoadBalancer*",
                                "elasticloadbalancing:DeregisterInstancesFromLoadBalancer",
                                "elasticloadbalancing:ModifyLoadBalancerAttributes",
                                "elasticloadbalancing:SetLoadBalancerPoliciesForBackendServer",
                                "elasticloadbalancing:RegisterInstancesWithLoadBalancer"
                            ],
                            "Resource": "*"
                        },
                        {
                            "Effect": "Allow",
                            "Action": [
                                "route53:ChangeResourceRecordSets",
                                "route53:CreateHostedZone",
                                "route53:DeleteHostedZone"
                            ],
                            "Resource": "*"
                        },
                        {
                            "Effect": "Allow",
                            "Action": [
                                "s3:CreateBucket",
                                "s3:DeleteBucket",
                                "s3:PutObject",
                                "s3:DeleteObject"
                            ],
                            "Resource": "*"
                        },
                        {
                            "Effect": "Allow",
                            "Action": [
                                "sqs:AddPermission",
                                "sqs:ChangeMessageVisibility",
                                "sqs:CreateQueue",
                                "sqs:DeleteMessage",
                                "sqs:DeleteQueue",
                                "sqs:PurgeQueue",
                                "sqs:ReceiveMessage",
                                "sqs:RemovePermission",
                                "sqs:SendMessage",
                                "sqs:SetQueueAttributes",
                                "sqs:TagQueue"
                            ],
                            "Resource": "*"
                        },
                        {
                            "Effect": "Allow",
                            "Action": [
                                "sts:AssumeRole"
                            ],
                            "Resource": "arn:aws:iam::*"
                        },
                        {
                            "Effect": "Allow",
                            "Action": [
                                "iam:PassRole",
                                "iam:AddRoleToInstanceProfile",
                                "iam:CreateInstanceProfile",
                                "iam:DeleteInstanceProfile",
                                "iam:RemoveRoleFromInstanceProfile"
                            ],
                            "Resource": "*"
                        }
                    ]
                },
                "Roles": [
                    {
                        "Ref": "AviatrixRoleApp"
                    }
                ]
            }
        },
        "AviatrixInstanceProfile": {
            "Type": "AWS::IAM::InstanceProfile",
            "Condition": "AviatrixIAMRoleNotExist",
            "Properties": {
                "Path": "/",
                "InstanceProfileName": "aviatrix-role-ec2",
                "Roles": [
                    {
                        "Ref": "AviatrixRoleEC2"
                    }
                ]
            }
        },
        "AviatrixController": {
            "Type": "AWS::EC2::Instance",
            "Properties": {
                "ImageId": {
                    "Fn::FindInMap": [
                        "AWSAMIRegionMap",
                        {
                            "Ref": "AWS::Region"
                        },
                        {
                            "Fn::FindInMap": [
                                "AMINameMap",
                                "Metered",
                                "Code"
                            ]
                        }
                    ]
                },
                "DisableApiTermination": "true",
                "KeyName": {
                    "Ref": "KeyNameParam"
                },
                "InstanceType": {
                    "Ref": "InstanceTypeParam"
                },
                "IamInstanceProfile": "aviatrix-role-ec2",
                "NetworkInterfaces": [
                    {
                        "DeviceIndex": "0",
                        "GroupSet": [
                            {
                                "Ref": "AviatrixSG"
                            }
                        ],
                        "SubnetId": {
                            "Ref": "SubnetID"
                        }
                    }
                ],
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": "AviatrixController"
                    },
                    {
                        "Key": "Project",
                        "Value": "Aviatrix"
                    }
                ]
            }
        },
        "AviatrixEIP": {
            "Type": "AWS::EC2::EIP",
            "Properties": {
                "InstanceId": {
                    "Ref": "AviatrixController"
                }
            }
        },
        "AviatrixSG": {
            "Type": "AWS::EC2::SecurityGroup",
            "Properties": {
                "GroupDescription": "Aviatrix - Allow HTTPS to Controller",
                "VpcId": {
                    "Ref": "VPCID"
                },
                "SecurityGroupIngress": [
                    {
                        "IpProtocol": "tcp",
                        "CidrIp": "0.0.0.0/0",
                        "FromPort": "443",
                        "ToPort": "443"
                    }
                ],
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": "AviatrixSecurityGroup"
                    },
                    {
                        "Key": "Project",
                        "Value": "Aviatrix"
                    }
                ]
            }
        },
        "AviatrixControllerRecoveryAlarm": {
            "Type": "AWS::CloudWatch::Alarm",
            "Properties": {
                "AlarmDescription": "Trigger a recovery when controller instance status check fails for 3 consecutive minutes.",
                "Namespace": "AWS/EC2",
                "MetricName": "StatusCheckFailed_System",
                "Statistic": "Minimum",
                "Period": "60",
                "EvaluationPeriods": "3",
                "ComparisonOperator": "GreaterThanThreshold",
                "Threshold": "0",
                "AlarmActions": [
                    {
                        "Fn::Join": [
                            "",
                            [
                                "arn:aws:automate:",
                                {
                                    "Ref": "AWS::Region"
                                },
                                ":ec2:recover"
                            ]
                        ]
                    }
                ],
                "Dimensions": [
                    {
                        "Name": "InstanceId",
                        "Value": {
                            "Ref": "AviatrixController"
                        }
                    }
                ]
            }
        }
    },
    "Outputs": {
        "AccountId": {
            "Description": "Amazon Account ID",
            "Value": {
                "Ref": "AWS::AccountId"
            }
        },
        "AviatrixControllerEIP": {
            "Description": "AviatrixController External IP",
            "Value": {
                "Fn::GetAtt": [
                    "AviatrixController",
                    "PublicIp"
                ]
            }
        },
        "AviatrixControllerPrivateIP": {
            "Description": "AviatrixController Private IP",
            "Value": {
                "Fn::GetAtt": [
                    "AviatrixController",
                    "PrivateIp"
                ]
            }
        }
    }
}
