{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "This Lambda copies licenced binary files into regional bucket. **WARNING** This template creates an Amazon Lambda. You will be billed for the AWS resources used if you create a stack from this template.",
    "Parameters": {
        "ConnectorAgentAssetsS3BucketName": {
            "Type": "String"
        },
        "ConnectorAgentAssetsS3KeyPrefix": {
            "Type": "String"
        },
        "CopyLicencedBinaryLambdaRoleARN": {
            "Type": "String"
        },
        "LicencedBinaryDestinationKeyPrefix": {
            "Type": "String"
        },
        "LicensedSoftwareS3BucketName": {
            "Type": "String"
        },
        "LicensedSoftwareS3KeyPrefix": {
            "Type": "String"
        },
        "RegionalLambdaBucketName": {
            "Type": "String"
        }
    },
    "Resources": {
        "CopyLicencedBinaryFunction": {
            "Properties": {
                "Code": {
                    "S3Bucket": {
                        "Ref": "RegionalLambdaBucketName"
                    },
                    "S3Key": "lambda_deployment_package.zip"
                },
                "Description": "Copy licenced binary files to the regional bucket",
                "Handler": "lambdas.copy_licenced_binary_lambda.handler",
                "Role": {
                    "Ref": "CopyLicencedBinaryLambdaRoleARN"
                },
                "Runtime": "python3.6",
                "Timeout": 30
            },
            "Type": "AWS::Lambda::Function"
        },
        "CopyLicencedBinaryLambda": {
            "Properties": {
                "ConnectorAgentAssetsS3BucketName": {
                    "Ref": "ConnectorAgentAssetsS3BucketName"
                },
                "ConnectorAgentAssetsS3KeyPrefix": {
                    "Ref": "ConnectorAgentAssetsS3KeyPrefix"
                },
                "DestinationBucketName": {
                    "Ref": "RegionalLambdaBucketName"
                },
                "DestinationKeyPrefix": {
                    "Ref": "LicencedBinaryDestinationKeyPrefix"
                },
                "LicensedSoftwareS3BucketName": {
                    "Ref": "LicensedSoftwareS3BucketName"
                },
                "LicensedSoftwareS3KeyPrefix": {
                    "Ref": "LicensedSoftwareS3KeyPrefix"
                },
                "ServiceToken": {
                    "Fn::GetAtt": [
                        "CopyLicencedBinaryFunction",
                        "Arn"
                    ]
                }
            },
            "Type": "Custom::CopyLicencedBinaryLambda"
        }
    }
}