# Response file for the SAS Deployment Wizard
# Created: Sep 28, 2018 9:24:44 AM
#
# Responses with multiple options are separated with / characters.

# Select Deployment Task
# Select the deployment task you would like to perform.
#START_TASK=install/depot/manage
 START_TASK=install

# Specify SAS Home
# Specify the location where SAS software will be installed on this machine.
#SAS_HOME=<full path>
 SAS_HOME=/sas/SASHome

# Select Deployment Type
# Select the type of deployment you want to perform.
#DEPLOYMENT_TYPE=planned/nonplanned/additional
 DEPLOYMENT_TYPE=planned
#PLANNED_INSTALL=yes/no
 PLANNED_INSTALL=no
#PLANNED_CONFIGURE=yes/no
 PLANNED_CONFIGURE=yes

# Specify Deployment Plan
# Specify a customized or standard deployment plan.
#PLAN_TYPE=customized/standard
 PLAN_TYPE=customized
#CUSTOMIZED_PLAN_PATH=<full path - only if PLAN_TYPE=customized>
 CUSTOMIZED_PLAN_PATH=/sas/{{ SASSoftwareDepotName }}/plan_files/final_plan_without_meta.xml
#STANDARD_PLAN_NAME=<standard plan name - only if PLAN_TYPE=standard>
 STANDARD_PLAN_NAME=

# Select Deployment Step
# Select the deployment step from your deployment plan that you want to configure on this machine. When you select a deployment step, the products installed on the associated machine according to the selected plan are listed in the lower pane.
#MACHINE_SELECTION=<machine name>
# or
#MACHINE_SELECTION=step <#>
 MACHINE_SELECTION=step 3

# Select Regional Settings
# Select the appropriate regional settings for your SAS software.
#REGION_SETTING=<region setting code>
 REGION_SETTING=en_US
#UNICODE_SERVER=yes/no
 UNICODE_SERVER=no

# Select Configuration Prompting Level
# Select the level of prompting for configuration information dialogs.
#CONFIGURATION_PROMPTS=minimum/moderate/full
 CONFIGURATION_PROMPTS=moderate

# Specify Configuration Information
# Specify the configuration directory and the level within the configuration directory to create your SAS software configuration.
#CONFIGURATION_DIRECTORY=<full path>
 CONFIGURATION_DIRECTORY=/sas/config
#CONFIGURATION_LEVEL=<subdirectory>
 CONFIGURATION_LEVEL=Lev1

# Local Machine Name
# Specify the local host name information.
#os.localhost.fqdn.host.name=<text value - leave blank or remove to default on the machine where the SAS Deployment Wizard is running>
 os.localhost.fqdn.host.name=sasgrid1.{{ DomainDNSName }}
#os.localhost.host.name=<text value - leave blank or remove to default on the machine where the SAS Deployment Wizard is running>
 os.localhost.host.name=sasgrid1

# Migration Information
# Specify migration information if performing migration for this deployment.
#PERFORM_MIGRATION=yes/no
 PERFORM_MIGRATION=no
#MIGRATION_PACKAGE=<full path>
 MIGRATION_PACKAGE=

# Integrated Windows Authentication
# Select whether to use Integrated Windows authentication for client connections.
#client.use_iwa=yes/no
 client.use_iwa=no

# Token-based authentication
# Select whether to use token-based authentication for client connection.
#workspacesrv.use_tba=yes/no
 workspacesrv.use_tba=no

# SAS Metadata Server
# Specify SAS Metadata Server connection information.
#iomsrv.metadatasrv.host=<text value>
 iomsrv.metadatasrv.host=sasgridmeta1.{{ DomainDNSName }}
#iomsrv.metadatasrv.port=<port number value>
 iomsrv.metadatasrv.port=8561

# Deployment Accounts: Type of Accounts
# Select the type of accounts chosen when configuring the Metadata Server. Your connection to the Metadata Server could be refused if you select incorrectly.
#user.account.type.as=internal/external
 user.account.type.as=internal

# SAS Internal Account: Unrestricted Administrator
# Specify the metadata password for the first Unrestricted Administrator identity. The Unrestricted Administrator has unrestricted administrative access to metadata.
#oma.person.admin.login.passwd.internal.as=<password value>
#oma.person.admin.login.passwd.internal.as={sas002}23B6882C5733375B31873CF6537B6C4059D455BF
 oma.person.admin.login.passwd.internal.as={{ AdminPassword }}
#oma.person.admin.login.share_passwd=yes/no
 oma.person.admin.login.share_passwd=no

# SAS Internal Account: Trusted User
# Specify the metadata password for the Trusted User identity. The Trusted User is a privileged service account that can act on behalf of other users on a connection to the metadata server.
#oma.person.trustusr.login.passwd.internal.as=<password value>
#oma.person.trustusr.login.passwd.internal.as={sas002}23B6882C5733375B31873CF6537B6C4059D455B
 oma.person.trustusr.login.passwd.internal.as={{ AdminPassword }}

# Deployment Accounts: First User
# Select whether to set up a First User identity for demonstration purposes.
#server.runas_demouser=yes/no
 server.runas_demouser=yes

# External Account: First User
# Specify an external user ID for the First User identity. The SAS Deployment Wizard does not validate credenti                              als for this identity, so you do not enter a password.
#oma.person.demo.login.userid=<user name value>
 oma.person.demo.login.userid=sasdemo

# SAS Object Spawner
# Specify SAS Object Spawner information.
#spawner.objectspawnr.operator.port=<port number value>
 spawner.objectspawnr.operator.port=8581

# SAS Object Spawner: Port Bank
# Specify SAS Object Spawner port bank ports.
#spawner.objectspawnr.portbank.port1=<port number value>
 spawner.objectspawnr.portbank.port1=8801
#spawner.objectspawnr.portbank.port2=<port number value>
 spawner.objectspawnr.portbank.port2=8811
#spawner.objectspawnr.portbank.port3=<port number value>
 spawner.objectspawnr.portbank.port3=8821

# SAS Application Server: Server Context
# Specify the SAS application server context name.
#oma.appserver.servercontext.name=<text value>
 oma.appserver.servercontext.name=SASApp

# SAS Workspace Server
# Specify SAS Workspace Server information.
#iomsrv.workspacesrv.port=<port number value>
 iomsrv.workspacesrv.port=8591

# Grid Control Server: Job Information
# Specify Grid Control Server job information.
#server.grdcctlsvr.shared.dir.path=<full path>
 server.grdcctlsvr.shared.dir.path=/sas/grid

# Platform Process Manager
# Specify Platform Process Manager information.
#server.platformpm.host=<text value>
 server.platformpm.host=sasgrid1.{{ DomainDNSName }}
#server.platformpm.port=<port number value>
 server.platformpm.port=1966

# Scheduling Services Cache Locator
# Specify the Scheduling Services Cache locator information.
#wipschedsvcs.cache.locator.port=<text value>
 wipschedsvcs.cache.locator.port=41415

# Scheduling Services DIP JobRunner
# Toggle startup state for the Scheduling Services DIP JobRunner.
#wipschedsvcs.dipjobrunner.autostart=yes/no
 wipschedsvcs.dipjobrunner.autostart=no

# IP Multicast Version
# Specify the IP version to use for the IP Multicast address.
#midtier.multicast.ip.version=ipv4/ipv6
 midtier.multicast.ip.version=ipv4

# IP Multicast
# Specify IP Multicast information to allow status communication amongst applications.
#midtier.multicast.address=<IP multicast address>
 midtier.multicast.address=239.0.22.178
#midtier.multicast.port=<port number value>
 midtier.multicast.port=8561
#midtier.multicast.ip.ttl=<number value>
 midtier.multicast.ip.ttl=1
#midtier.multicast.auth.token.is_enabled=yes/no
 midtier.multicast.auth.token.is_enabled=no
