{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Creates default security groups for Amazon EMR cluster in private subnet.",
    "Metadata": {
        "AWS::CloudFormation::Interface": {
            "ParameterGroups": [
                {
                    "Label": {
                        "default": "Network Configuration"
                    },
                    "Parameters": [
                        "VpcId"
                    ]
                }
            ],
            "ParameterLabels": {
                "VpcId": {
                    "default": "VPC ID"
                }
            }
        }
    },
    "Parameters": {
        "VpcId": {
            "Description": "VPC to which security groups belong",
            "Type": "AWS::EC2::VPC::Id"
        }
    },
    "Mappings": { },
    "Resources": {
        "EmrMasterPrivateSecurityGroup": {
        	"Type": "AWS::EC2::SecurityGroup",
        	"Properties": {
        		"GroupDescription": "EMR Master Instance security group",
        		"VpcId": {
                    "Ref": "VpcId"
                }
        	}
        },
        "EmrSlavePrivateSecurityGroup": {
        	"Type": "AWS::EC2::SecurityGroup",
        	"Properties": {
        		"GroupDescription": "EMR Slave Instance security group",
        		"VpcId": {
                    "Ref": "VpcId"
                }
        	}
        },
        "EmrServiceAccessSecurityGroup": {
        	"Type": "AWS::EC2::SecurityGroup",
        	"Properties": {
        		"GroupDescription": "EMR Service Access security group",
        		"VpcId": {
                    "Ref": "VpcId"
                }
        	}
        },
        "TCPFromServiceAccessSecurityGroupIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "8443",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"IpProtocol" : "tcp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrServiceAccessSecurityGroup", "GroupId" ] },
		    	"ToPort" : "8443"
		  	}
		},
        "TCPFromSlaveSecurityGroupIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "0",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"IpProtocol" : "tcp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "65535"
		  	}
		},
		"TCPFromMasterSecurityGroupIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "0",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"IpProtocol" : "tcp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "65535"
		  	}
		},
		"ICMPFromSlaveSecurityGroupIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "-1",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"IpProtocol" : "icmp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "-1"
		  	}
		},
        "ICMPFromMasterSecurityGroupIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "-1",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"IpProtocol" : "icmp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "-1"
		  	}
		},
        "UDPFromSlaveSecurityGroupIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "0",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"IpProtocol" : "udp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "65535"
		  	}
		},
		"UDPFromMasterSecurityGroupIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "0",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"IpProtocol" : "udp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "65535"
		  	}
		},
        "TCPFromServiceAccessIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "8443",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ] },
		    	"IpProtocol" : "tcp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrServiceAccessSecurityGroup", "GroupId" ] },
		    	"ToPort" : "8443"
		  	}
		},
        "TCPFromSlaveIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "0",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ] },
		    	"IpProtocol" : "tcp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "65535"
		  	}
		},
		"TCPFromMasterIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "0",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ] },
		    	"IpProtocol" : "tcp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "65535"
		  	}
		},
		"ICMPFromSlaveIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "-1",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ] },
		    	"IpProtocol" : "icmp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "-1"
		  	}
		},
        "ICMPFromMasterIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "-1",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ]  },
		    	"IpProtocol" : "icmp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "-1"
		  	}
		},
        "UDPFromSlaveIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "0",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ]  },
		    	"IpProtocol" : "udp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "65535"
		  	}
		},
		"UDPFromMasterIngress": {
		  	"Type" : "AWS::EC2::SecurityGroupIngress",
		  	"Properties" : {
		    	"FromPort" : "0",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ]  },
		    	"IpProtocol" : "udp",
		    	"SourceSecurityGroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "65535"
		  	}
		},
        "TCPMasterEgress": {
		  	"Type" : "AWS::EC2::SecurityGroupEgress",
		  	"Properties" : {
		    	"FromPort" : "8443",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrServiceAccessSecurityGroup", "GroupId" ] },
		    	"IpProtocol" : "tcp",
		    	"DestinationSecurityGroupId" : { "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "8443"
		  	}
		},
        "TCPSlaveEgress": {
		  	"Type" : "AWS::EC2::SecurityGroupEgress",
		  	"Properties" : {
		    	"FromPort" : "8443",
		    	"GroupId" : { "Fn::GetAtt": [ "EmrServiceAccessSecurityGroup", "GroupId" ] },
		    	"IpProtocol" : "tcp",
		    	"DestinationSecurityGroupId" : { "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ] },
		    	"ToPort" : "8443"
		  	}
		}
    },
    "Outputs": {
        "EmrMasterSecurityGroupId": {
            "Description": "EMR master instance security group",
            "Value": {
                "Fn::GetAtt": [ "EmrMasterPrivateSecurityGroup", "GroupId" ]
            },
			"Export": { "Name": { "Fn::Sub": "${AWS::StackName}:EmrMasterSecurityGroupId" } }
        },
        "EmrSlaveSecurityGroupId": {
            "Description": "EMR slave instance security group",
            "Value": {
                "Fn::GetAtt": [ "EmrSlavePrivateSecurityGroup", "GroupId" ]
            },
			"Export": { "Name": { "Fn::Sub": "${AWS::StackName}:EmrSlaveSecurityGroupId" } }
        },
        "EmrServiceAccessSecurityGroupId": {
            "Description": "EMR service access security group",
            "Value": {
                "Fn::GetAtt": [ "EmrServiceAccessSecurityGroup", "GroupId" ]
            },
			"Export": { "Name": { "Fn::Sub": "${AWS::StackName}:EmrServiceAccessSecurityGroupId" } }
        }
    }
}
